.banners {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;

    @media (min-width: $width-md) {
      flex-wrap: nowrap;
    }
  }

  &__left-banner {
    padding: 60px 30px 30px;
    flex: 0 0 100%;
    background: url('../../images/left-banner.jpg');
    background-size: cover;
    margin-bottom: 30px;

    @media (min-width: $width-md) {
      flex: 0 0 46.667vw;
      margin-bottom: 0;
      margin-right: 0.781vw;
      padding: 9.896vw 3.333vw 3.333vw;
    }

    &__vilpe {
      margin-bottom: 1.51vw;
      width: 100px;

      @media (min-width: $width-md) {
        width: vw(249px);
      }
    }

    &__heading {
      margin-bottom: 1.667vw;
    }

    &__desc {
      @include paragraph;
      color: #fff;
      width: 100%;

      @media (min-width: $width-md) {
        width: 26.823vw;
      }
    }

    .button {
      margin-bottom: 15px !important;

      @media (min-width: $width-md) {
        margin-bottom: 0;
      }
    }
  }

  &__right-banner {
    text-align: center;
    background: url('../../images/right-banner.jpg');
    background-size: cover;
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    @media (min-width: $width-md) {
      padding: 0 4.74vw;
    }

    &__heading {
      margin-bottom: 20px;

      @media (min-width: $width-md) {
        margin-bottom: 1vw;
      }

    }

    &__desc {
      @include paragraph;
      color: #fff;
      margin-bottom: 15px;

      @media (min-width: $width-md) {
        margin-bottom: 1.667vw;
      }
    }
  }
}