.cats-bar {
  $bar: &;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  background: $navy;
  z-index: 2;
  display: none;
  @include trans;

  &__wrapper {
    display: flex;
    align-items: center;
    padding: 0 3.333vw;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__category {
    $cat: &;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: vw(20px) 0;
    text-decoration: none;
    width: 50%;
    flex: 0 0 50%;
    @include trans;

    @media (min-width: $width-md) {
      width: 14.28%;
      flex: 0 0 14.2%;
      padding: vw(25px) 0;
    }

    &__icon-wrapper {
      height: 8.396vw;
      display: flex;
      align-items: center;
      margin-bottom: 1.25vw;

      @media (min-width: $width-md) {
        height: 2.396vw;
      }
    }

    &__icon {
      @include trans;
      max-height: 100%;
      display: block;
      margin: 0 auto;
      opacity: 0.3;
    }

    &__title {
      color: #fff;
      font-size: 14px;
      line-height: 137%;
      font-weight: 300;

      @media (min-width: $width-xl) {
        font-size: vw(20px);
      }
    }

    &:hover,
    &.active {
      #{$cat}__icon {
        opacity: 1;
      }
    }
  }

  @media (min-width: $width-md) {
    display: block;

    &.scrolled {

      #{$bar}__category {
        padding: vw(15px) 0;

        &__icon-wrapper {
          margin-bottom: vw(10px);
        }
      }
    }
  }

}