@each $bpName, $bpValue in $bp {
  @each $colName, $colValue in $cols {
    .col-#{$bpName}-#{$colName} {
      @media (min-width: $bpValue) {
        flex: 0 0 $colValue;
        max-width: $colValue;
      }
    }
  }
}

@each $align in $aligns {
  @each $bpName, $bpValue in $bp {
    .text-#{$bpName}-#{$align} {
      @media (min-width: $bpValue) {
        text-align: #{$align};
      }
    }
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;

  &--100 {
    max-width: 100%;
    flex: 0 0 100%;
  }

  &.nowrap {
    flex-wrap: nowrap;

    &--sm {
      @media (min-width: $width-sm) {
        flex-wrap: nowrap;
      }
    }

    &--md {
      @media (min-width: $width-md) {
        flex-wrap: nowrap;
      }
    }

    &--lg {
      @media (min-width: $width-lg) {
        flex-wrap: nowrap;
      }
    }

    &--xl {
      @media (min-width: $width-xl) {
        flex-wrap: nowrap;
      }
    }
  }

  &.d-column {
    flex-direction: column;
  }

  &.d-row {
    flex-direction: row;
  }

  &.justify-content-center {
    justify-content: center;
  }

  &.justify-content-left {
    justify-content: left;
  }

  &.justify-content-end {
    justify-content: flex-end;
  }

  &.align-content-start {
    align-content: flex-start;
  }

  &.align-content-center {
    align-content: center;
  }

  &.align-items-center {
    align-items: center;
  }

  &.align-items-start {
    align-items: flex-start;
  }

  &.align-items-end {
    align-items: flex-end;
  }

  &.justify-content-space-between {
    justify-content: space-between;
  }
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-20 {
  margin-bottom: 15px !important;

  @media (min-width: $width-xl) {
    margin-bottom: vw(20px) !important;
  }
}

.mb-40 {
  margin-bottom: 20px !important;

  @media (min-width: $width-xl) {
    margin-bottom: vw(40px) !important;
  }
}