.product {
  padding: 0 vw(8px) vw(16px) vw(8px);

  &__wrapper {
    border: 1px solid #f9f9f9;
    padding: 30px;
    height: 100%;
    @include trans;
    text-decoration: none;
    color: $darkGray;
    display: block;

    @media (min-width: $width-xl) {
      padding: vw(48px) vw(48px) vw(40px) vw(48px);
    }

    &:hover {
      border-color: #fff;
      box-shadow: 0 0 vw(20px) rgba(0,0,0,0.1);
    }
  }

  &__cover {
    display: block;
    max-width: 100%;
    margin-bottom: vw(32px);
  }

  &__name {
    margin-bottom: 64px;
    font-size: 20px;
    line-height: 135.77%;
    font-weight: 300;
    display: block;

    @media (min-width: $width-md) {
      font-size: 32px;
    }

    @media (min-width: $width-xl) {
      margin-bottom: vw(64px);
      font-size: vw(32px);
    }
  }

  &__price {
    font-size: 20px;
    margin-bottom: 16px;
    line-height: 137%;
    display: block;

    @media (min-width: $width-xl) {
      font-size: vw(20px);
      margin-bottom: vw(16px);
    }
  }
}