$yellow: #ffea55;
$blue: #00a3e1;
$red: #f8485e;

.checkbox {
  $r: &;

  &__wrapper {
    margin-bottom: 25px;
    position: relative;
    padding-right: 21px;
  }

  &__label {
    height: auto;
    display: inline-block;
    padding-left: 40px;
    top: 3px;
    font-size: 14px;
    cursor: pointer;
    line-height: 168.78%;
    font-weight: 300;
    transition: all 0.2s linear;
    position: relative;
    user-select: none;
    color: #fff;

    @media (min-width: $width-xl) {
      padding-left: vw(40px);
      top: vw(3px);
      font-size: vw(14px);
    }

    a {
      color: #fff;
      @include trans;

      &:hover {
        opacity: 0.6;
      }
    }

    @media (min-width: 768px) {
      line-height: 120%;
    }

    &:before,
    &:after {
      position: absolute;
      display: block;
    }

    &:before {
      display: block;
      left: 0;
      top:-6px;
      width: 24px;
      height: 24px;
      overflow: hidden;
      content: '';
      background: rgba(#fff, 0.12);
      border-radius: 3px;

      @media (min-width: $width-xl) {
        top: vw(-6px);
        width: vw(24px);
        height: vw(24px);
      }
    }
    &:after {
      top: -21px;
      left: -15px;
      width: 55px;
      height: 55px;
      border-radius: 50%;
      overflow: hidden;
      content: '';
      background: transparent;
      transition: all 0.2s ease-in-out;

      @media (min-width: $width-xl) {
        top: vw(-21px);
        left: vw(-15px);
        width: vw(55px);
        height: vw(55px);
      }
    }

    &:hover {
      opacity: 1;
    }

    &--dark {
      color: $darkGray;
      &:before {
        background: rgba(#000, 0.12);
      }
    }

    &--darker {
      color: $navy;
      font-weight: 400;

      a {
        color: $navy;
        @include trans;

        &:hover {
          opacity: 0.6;
        }
      }

      &:before {
        background: rgba(#000, 0.12);
      }
    }

    &--full {
      width: 100%;
      flex: 0 0 100%;
    }

    &--light {
      color: rgba(36, 36, 36, 0.5);
      line-height: 168.78%;

      &:before {
        background: rgba(#000, 0.12);
        top: vw(2px);
      }

      &:after {
        top: vw(6px) !important;
      }
    }
  }

  &__input {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;

    &:checked {
      + #{$r}__label {
        &:after {
          left: 4px;
          top: -2px;
          width: 16px;
          height: 16px;
          border-radius: 2px;
          background: #fff;

          @media (min-width: $width-xl) {
            left: vw(4px);
            top: vw(-2px);
            width: vw(16px);
            height: vw(16px);
          }
        }
      }
    }
  }
}

.button {
  @include trans;
  color: $blue;
  font-size: 14px;
  padding: 10px 15px;
  margin-right: 5px;
  margin-bottom: 12px;
  line-height: 110%;
  cursor: pointer;
  background: transparent;
  text-transform: uppercase;
  border: 2px solid $blue;
  display: inline-block;
  text-decoration: none;

  &--block {
    display: block;
    width: 100%;
  }

  &:hover {
    background: $blue;
    color: #fff;
  }

  &--white {
    border-color: #fff;
    color: #fff;
    &:hover {
      background: #fff;
      color: $blue;
    }
  }

  &--clear-right {
    margin-right: 0;
  }

  &--no-mb {
    margin-bottom: 0;
  }

  @media (min-width: $width-lg) {
    font-size: 1vw;
    padding: 0.833vw 1.667vw;
    margin-right: 0.5vw;
    margin-bottom: 1.667vw;
  }

  @media (min-width: $width-xl) {
    font-size: 0.729vw;
    padding: 0.833vw 1.667vw;
    margin-right: 0.5vw;
    margin-bottom: 1.667vw;
  }

}

.tabs {
  margin-bottom: 30px;
  flex: 0 0 100%;
  display: none;

  &.show {
    display: block;
  }

  @media (min-width: $width-md) {
    position: relative;
    height: auto;
    display: block;

    flex: 0 0 vw(555px);
    margin-right: vw(128px);
  }

  &__tab-opener {
    flex: 0 0 100%;
    color: #fff;
    font-size: 16px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    position: relative;
    border-bottom: 1px solid rgba($blue, 0.2);

    &:after {
      content: url('../../images/blue-chevron-down.svg');
      position: absolute;
      width: 16px;
      top: 50%;
      right: 0;
      margin-top: -8px;
      transform: translateY(-50%);
    }

    &.show {
      &:after {
        transform: translateY(-50%) rotate(-180deg);
      }
    }
    @media (min-width: $width-md) {
      display: none;
    }
  }

  &__tab {
    @include trans;
    line-height: 137%;
    color: #939ab6;
    cursor: pointer;
    font-size: 12px;
    padding: 15px 32px 15px 0;
    border-bottom: 1px solid #3c4a7b;
    position: relative;

    @media (min-width: $width-md) {
      font-size: 14px;
    }

    @media (min-width: $width-xl) {
      font-size: vw(20px);
      padding: vw(32px) vw(64px) vw(32px) 0;
    }

    &:after {
      @include trans;
      content: url('../../images/tabs-chevron.svg');
      position: absolute;
      width: 9px;
      right: 16px;
      top: 50%;
      transform: translateY(-50%);
      opacity: 0.6;

      @media (min-width: $width-xl) {
        width: vw(9px);
        right: vw(32px);
      }
    }

    &:hover,
    &.active {
      color: $blue;

      &:after {
        opacity: 1;
      }
    }
  }

  &__tab-content {
    visibility: hidden;
    opacity: 0;
    display: none;
    @include trans;

    &.active {
      visibility: visible;
      opacity: 1;
      display: block;
    }
  }
}

//radio
.n-radio {
  margin-bottom: 30px;

  @media (min-width: $width-lg) {
    margin-bottom: vw(24px);
  }

}
.n-radio input[type="radio"] + label {
  transition: 0.4s ease;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  width: 100%;
  padding: 1px 0 1px 40px;
  position: relative;
  font-weight: normal;
  font-size: 16px;
  line-height: 155.57%;
  color: $darkGray;
  display: flex;
  justify-content: space-between;

  @media (min-width: $width-lg) {
    font-size: 14px;
  }

  @media (min-width: $width-xl) {
    font-size: vw(16px);
    padding: 1px 40px;
  }
}

.n-radio input[type="radio"] + label:before {
  transition: 0.4s ease;
  transform: translateY(-50%);
  background: transparent;
  top: 50%;
  content: '';
  border: solid 2px $darkGray;
  border-radius: 50%;
  font-size: 10px;
  line-height: 17px;
  text-align: center;
  color: transparent;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;

  @media (min-width: $width-lg) {
    width: vw(24px);
    height: vw(24px);
  }
}

.n-radio input[type="radio"]:checked + label:before {
  background-color: $darkGray;
}

.form-input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 14px;
  padding: 10px 10px 10px 0;
  margin-bottom: 6px;
  line-height: 160.96%;
  flex: 0 0 100%;
  font-weight: 300;

  @media (min-width: $width-sm) {
    flex: 0 0 49%;
  }

  @media (min-width: $width-xl) {
    font-size: vw(16px);
    padding: vw(16px) vw(16px) vw(16px) 0;
    margin-bottom: vw(6px);
  }

  &::placeholder {
    color: #fff;
    opacity: 1;
  }

  &:focus {
    outline: none;
  }

  &--textarea {
    overflow: hidden;
    @include trans;
    resize: none;
    font-family: 'Roboto', sans-serif;
    line-height: 160.96%;
    font-weight: 300;
    flex: 0 0 100%;
    font-size: 14px;
    height: 60px;
    margin-bottom: 20px;

    @media (min-width: $width-xl) {
      font-size: vw(16px);
      height: vw(60px);
      margin-bottom: vw(32px);
    }

    &:focus {
      height: 100px;
      outline: none;
      overflow: auto;

      @media (min-width: $width-xl) {
        height: vw(150px);
      }
    }
  }

  &--darker {
    border-bottom: 1px solid $darkGray;
    color: $darkGray;
    flex: 0 0 100%;
    font-weight: 400;

    &::placeholder {
      color: $darkGray;
    }
  }

  &--half {
    @media (min-width: $width-sm) {
      flex: 0 0 49%;
    }
  }
}

//search-checkboxes
.checkbox-size {
  $size: &;

  &__wrapper {
    margin: 0 vw(4px) vw(8px) vw(4px);
    position: relative;
  }

  &__label {
    background: #F9F9F9;
    display: inline-block;
    color: $darkGray;
    cursor: pointer;
    line-height: 168.78%;
    font-weight: 300;
    transition: all 0.2s linear;
    position: relative;
    user-select: none;
    @include trans;
    top: 3px;
    font-size: 14px;
    padding: 16px 24px;

    &:hover {
      background: #EDEDED;
    }

    @media (min-width: $width-xl) {
      top: vw(3px);
      font-size: vw(14px);
      padding: vw(16px) vw(24px);
    }
  }

  &__input {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;

    &:checked {
      + #{$size}__label {
        background: $blue;
        color: #fff;
      }
    }
  }
}

.checkbox-color {
  $size: &;

  &__wrapper {
    @include trans;
    position: relative;
    margin: 0 4px 8px 4px;
    flex: 0 0 32px;
    height: 32px;

    &:hover {
      opacity: 0.8;
    }

    @media (min-width: $width-xl) {
      margin: 0 vw(4px) vw(8px) vw(4px);
      flex: 0 0 vw(32px);
      height: vw(32px);
    }
  }

  &__label {
    border-radius: 50%;
    display: block;
    width: 100%;
    height:100%;
    cursor: pointer;
    position: relative;

    &:after {
      @include trans;
      width: 16px;
      height: 16px;
      position: absolute;
      top: 50%;
      left: 50%;
      content: '';
      border-radius: 50%;
      border: 1px solid transparent;
      transform: translate(-50%, -50%);

      @media (min-width: $width-xl) {
        width: vw(16px);
        height: vw(16px);
      }
    }

  }

  &__input {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;

    &:checked {
      + #{$size}__label {
         &:after {
           border: 8px solid $blue;
           @media (min-width: $width-xl) {
             border: vw(8px) solid $blue;
           }
         }
      }
    }
  }
}

.closer {
  @include generateCloser(30px, 30px, vw(30px), vw(30px), $darkGray);
}
