$width-xs: 1px;
$width-sm: 576px;
$width-md: 768px;
$width-lg: 960px;
$width-xl: 1200px;
$width-xxl: 1600px;

$cols: (
        '1': 8.3333%,
        '2': 16.6666%,
        '3': 25%,
        '4': 33.3333%,
        '5col': 20%,
        '6': 50%,
        '7': 58.3333%,
        '8': 66.6664%,
        '9': 74.9997%,
        '10': 83.3333%,
        '11': 91.6663%,
        '12': 100%,
);
$bp: (
        'xs': $width-xs,
        'sm': $width-sm,
        'md': $width-md,
        'lg': $width-lg,
        'xl': $width-xl,
        'xxl': $width-xl,
);

$aligns: left, center, right;

//Colors
$navy: #27366d;
$blue: #377ec7;
$darkGray: #242424;
$black: #151515;
$lightgray: #87868a;
$gray: #5b5b5b;
$blueBox: #1263B7;