@import '../fonts/Roboto/stylesheet.css';
@import '~nouislider/distribute/nouislider.css';
@import '~tiny-slider/dist/tiny-slider.css';
@import '~flatpickr/dist/flatpickr.min.css';
@import '~sumoselect/sumoselect.min.css';
@import '~jquery-colorbox/example1/colorbox.css';
@import 'initial';
@import 'variables';
@import 'mixins';
@import 'grid';
@import 'cmsContent';
@import 'ui';
@import 'libs/accordion';

.career-page {
  .top-section {
    padding: 120px 0 56px 0;
    background-image: url('../../images/career-back.jpg');
    background-size: cover;

    @media (min-width: $width-lg) {
      padding: vw(180px) 0 vw(56px) 0;
    }

    &__content {
      padding-top: 30px;
      max-width: 80%;
      padding-bottom: 30px;

      @media (min-width: $width-lg) {
        padding-top: vw(50px);
        max-width: vw(990px);
        padding-bottom: vw(70px);
      }
    }

    &__button {
      position: relative;
      font-size: 14px;
      padding: 14px 34px 14px 14px;
      margin-bottom: 30px;

      @media (min-width: $width-xl) {
        font-size: vw(14px);
        padding: vw(34px) vw(94px) vw(34px) vw(32px);
        margin-bottom: vw(101px);
      }

      &:after {
        content: url('../../images/blue-chevron-down.svg');
        position: absolute;
        top: 50%;
        width: 16px;
        right: 14px;
        margin-top: 2px;
        transform: translateY(-50%);

        @media (min-width: $width-lg) {
          width: vw(16px);
          right: vw(40px);
          margin-top: vw(2px);
        }
      }
    }

    &__cms-content {
      &--bigger {
        font-size: 16px;
        line-height: 135.77%;
        font-weight: 300;

        @media (min-width: $width-lg) {
          font-size: vw(32px);
        }
      }
    }
  }

  .job-programs {
    padding: 30px 0;

    @media (min-width: $width-xl) {
      padding: vw(52px) 0;
    }

    &__header {
      margin-bottom: 20px;

      @media (min-width: $width-xl) {
        margin-bottom: vw(32px);
      }
    }

    &__left {
      padding-top: 30px;
      flex: 0 0 100%;
      margin-right: 15px;
      margin-bottom: 30px;

      @media (min-width: $width-md) {
        flex: 0 0 50%;
        margin-bottom: 0;
      }

      @media (min-width: $width-lg) {
        padding-top: vw(60px);
        flex: 0 0 vw(700px);
        margin-right: vw(45px);
      }

      @media (min-width: $width-xl) {
        flex: 0 0 vw(555px);
      }
    }

    &__right {
      width: 100%;
    }

    &__program-box {
      padding: 30px;
      border: 2px solid $blue;
      border-radius: 6px;
      background: #fff;
      position: relative;

      @media (min-width: $width-lg) {
        padding: vw(72px) vw(64px) vw(40px) vw(64px);
      }

      &:after {
        content: url('../../images/job-program-something.svg');
        position: absolute;
        width: 85%;
        bottom: vw(-19px);
        z-index: -1;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  .job-offers {
    &__caption {
      margin-bottom: vw(72px);
    }

    &__offers-wrapper {
      margin-left: vw(-6px);
      margin-right: vw(-6px);
    }

    &__offer-col {
      padding: 0 6px;
      margin-bottom: 12px;

      @media (min-width: $width-lg) {
        padding: 0 vw(6px);
        margin-bottom: vw(12px);
      }
    }
  }

  .job-offer {

    background: #E9F9FC;
    border-radius: 6px;
    padding: 20px;

    @media (min-width: $width-lg) {
      padding: vw(48px);
    }

    &__img-wrapper {
      flex: 0 0 vw(128px);
      margin-right: vw(32px);

      &__img {
        display: block;
        width: 100%;
      }
    }

    &__content {
      &__title {
        margin-bottom: vw(32px);
      }
    }

    &__footer {
      font-weight: normal;
      font-size: 12px;
      line-height: 137%;

      @media (min-width: $width-lg) {
        font-size: vw(20px);
      }

      &__link {
        color: $blue;
        text-decoration: none
      ;
      }
    }
  }
}