@import '../fonts/Roboto/stylesheet.css';
@import '~tiny-slider/dist/tiny-slider.css';
@import '~sumoselect/sumoselect.min.css';
@import 'initial';
@import 'variables';
@import 'mixins';
@import 'grid';
@import 'cmsContent';
@import 'ui';
@import 'libs/accordion';

.cart-page {
  .cart-box {
    background: #F9F9F9;
    padding: 20px;
    margin-bottom: 16px;

    @media (min-width: $width-lg) {
      padding: vw(32px) vw(48px) vw(10px) vw(48px);
      margin-bottom: vw(16px);
    }

    &__header {
      font-weight: 300;
      font-size: 20px;
      margin-bottom: 24px;
      line-height: 135.77%;
      color: $darkGray;
      flex: 0 0 100%;
      width: 100%;

      @media (min-width: $width-lg) {
        font-size: vw(32px);
        margin-bottom: vw(24px);
      }
    }

    &__submit {
      background: $blue;
      font-weight: normal;
      text-transform: uppercase;
      color: #FFFFFF;
      position: relative;
      @include trans;
      cursor: pointer;
      display: inline-block;
      padding: 10px 25px 10px 40px;
      font-size: 14px;
      margin-top: 40px;
      line-height: 19px;

      @media (min-width: $width-lg) {
        padding: vw(30px) vw(32px) vw(30px) vw(75px);
        font-size: vw(16px);
        margin-top: vw(40px);
        line-height: vw(19px);
      }


      &:after{
        content: url('../../images/cart-bigger.svg');
        position: absolute;
        width: 20px;
        left: 12px;
        top: 50%;
        transform: translateY(-50%);

        @media (min-width: $width-lg) {
          width: vw(35px);
          left: vw(32px);
        }
      }

      &:hover {
        background: $navy;
      }
    }
  }
  .hidden {
    display: none !important;
  }

  .cart {
    flex: 0 0 100%;
    width: 100%;

    @media (min-width: $width-lg) {
      flex: 0 0 vw(1200px);
      width: vw(1200px);
      margin-right: vw(74px);
    }

    @media (min-width: $width-xl) {
      flex: 0 0 vw(979px);
    }

    &__coupon {
      padding-bottom: vw(40px);

      &__input {
        display: inline-block;
        font-weight: normal;
        background: transparent;
        border: none;
        line-height: 160.96%;
        color: $darkGray;
        border-bottom: 1px solid #242424;
        padding: 8px 0;
        font-size: 14px;
        width: 160px;
        margin-right: 15px;

        @media (min-width: $width-xl) {
          padding: vw(16px) 0;
          font-size: vw(16px);
          width: vw(390px);
          margin-right: vw(30px);
        }

        &::placeholder {
          opacity: 1;
          color: $darkGray;
        }

        &:focus {
          outline: none;
        }
      }

      &__add {
        width: 40px;
        @include trans;
        cursor: pointer;
        display: inline-block;
        vertical-align: bottom;

        @media (min-width: $width-lg) {
          width: vw(56px);
        }

        &:hover {
          opacity: 0.6;
        }
      }
    }

    &__free-delivery {
      background: #FFE587;
      font-weight: 500;
      padding: 8px 16px;
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 30px;
      text-align: center;
      text-transform: uppercase;
      color: #000000;

      @media (min-width: $width-lg) {
        padding: vw(8px) vw(16px);
        font-size: vw(14px);
        line-height: vw(16px);
        margin-bottom: vw(40px);
      }
    }

    &__payment {
      &__radio {
        display: inline-block;
        position: relative;
        width: 100%;
        padding: 70px 0 0 0;
        margin-bottom: 20px;

        @media (min-width: $width-md) {
          border-right: 1px solid #DEDEDE;
          width: 30%;
          padding: 70px 15px 0 15px;
          margin-bottom: 30px;
        }

        @media (min-width: $width-lg) {
          width: vw(255px);
          padding: vw(62px) vw(16px) 0 0;
          margin-right: vw(28px);
          margin-bottom: vw(28px);
        }

        &__icon {
          width: 50px;
          position: absolute;
          left: 50%;
          top: -60px;
          transform: translateX(-50%);

          @media (min-width: $width-lg) {
            width: vw(32px);
            position: absolute;
            left: 50%;
            top: vw(-60px);
            transform: translateX(-50%);
          }

          @media (min-width: $width-lg) {
            width: vw(32px);
            position: absolute;
            left: 50%;
            top: vw(-60px);
            transform: translateX(-50%);
          }
        }
      }
    }
  }

  .cart-product {
    margin-bottom: 30px;

    @media (min-width: $width-md) {
      justify-content: space-between;
    }

    @media (min-width: $width-lg) {
      margin-bottom: vw(48px);
    }

    &__cover-wrapper {
      flex: 0 0 70px;
      margin-right: 15px;
      margin-bottom: 15px;

      @media (min-width: $width-md) {
        margin-bottom: 0;
      }

      @media (min-width: $width-lg) {
        flex: 0 0 vw(159px);
        margin-right: vw(48px);
      }

      &__image {
        display: block;
        max-width: 100%;
      }
    }

    &__info {
      &__name {
        color: $darkGray;
        font-weight: 300;
        font-size: 16px;
        padding-bottom: 8px;
        line-height: 138.83%;
        position: relative;
        margin-right: 15px;


        @media (min-width: $width-xl) {
          font-size: vw(24px);
          padding-bottom: vw(16px);
        }

        &:after {
          position: absolute;
          left:0;
          width: 90%;
          height: 1px;
          background: rgba(#000, 0.1);
          bottom: 0;
          content: '';

          @media (min-width: $width-lg) {
            width: vw(206px);
          }
        }
      }
      &__options {
        padding: 8px 0;

        @media (min-width: $width-lg) {
          padding: vw(16px) 0;
          margin-right: vw(48px);
        }

        &__option {
          margin-right: 10px;
          font-size: 14px;
          color: rgba($darkGray, 0.5);
          line-height: 155.57%;

          @media (min-width: $width-xl) {
            margin-right: vw(32px);
            font-size: vw(16px);
          }
        }
      }
    }

    &__price {
      margin-right: 15px;
      font-size: 19px;
      font-weight: 300;
      line-height: 138.83%;
      color: $darkGray;
      flex: 0 0 100%;
      margin-bottom: 15px;

      @media (min-width: $width-md) {
        margin-bottom: 0;
        flex: 0 0 auto;
      }

      @media (min-width: $width-lg) {
        margin-bottom: 0;
        margin-right: vw(48px);
        font-size: vw(24px);
      }
    }

    &__quantity {
      margin-right: 15px;

      @media (min-width: $width-lg) {
        margin-right: vw(32px);
      }

      &__input {
        display: inline-block;
        font-weight: 300;
        line-height: 138.83%;
        color: $darkGray;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        border: none;
        font-size: 19px;
        width: 70px;

        @media (min-width: $width-lg) {
          font-size: vw(24px);
          width: vw(80px);
        }
      }

      &__ctrl {
        width: 40px;
        display: inline-block;
        cursor: pointer;
        @include trans;

        @media (min-width: $width-lg) {
          width: vw(56px);
        }

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    &__delete {
      width: 40px;
      cursor: pointer;

      @media (min-width: $width-lg) {
        width: vw(56px);
      }

      &__icon {
        display: block;
        width: 100%;
        @include trans;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

  .cart-summary {
    &__header {
      font-weight: normal;
      line-height: 137%;
      color: $darkGray;
      font-size: 18px;
      margin-bottom: 16px;

      @media (min-width: $width-lg) {
        font-size: vw(20px);
        margin-bottom: vw(32px);
      }

      &--smaller {
        font-size: 14px;
        margin-bottom: 3px;

        @media (min-width: $width-lg) {
          font-size: vw(16px);
          margin-bottom: vw(3px);
        }
      }
    }

    &__value {
      font-weight: normal;
      line-height: 137%;
      color: $darkGray;
      font-size: 15px;
      margin-bottom: 15px;

      @media (min-width: $width-lg) {
        font-size: vw(20px);
        margin-bottom: vw(16px);
      }
    }

    &__total-price {
      font-weight: 300;
      line-height: 135.77%;
      color: $blue;
      font-size: 24px;
      margin-bottom: 20px;

      @media (min-width: $width-lg) {
        font-size: vw(32px);
        margin-bottom: vw(32px);
      }
    }
  }
}