
.cms-content {
  font-size: 14px;
  line-height: 155.57%;
  font-weight: 300;
  color: $darkGray;

  @media (min-width: $width-xl) {
    font-size: vw(16px);
  }

  a {
    color: $darkGray;
    @include trans;

    &:hover {
      opacity: 0.6;
    }
  }

  p {
    margin-bottom: 15px;
    margin-top: 0;

    @media (min-width: $width-xl) {
      margin-bottom: vw(30px);
    }
  }

  ul {
    list-style-type: none;
    padding-left: 0;

    li {
      margin-bottom: 15px;
      padding-left: 30px;
      position: relative;

      @media (min-width: $width-xl) {
        margin-bottom: vw(30px);
        padding-left: vw(40px);
      }

      &:before {
        content: url('../../images/bullet.svg');
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        height: 16px;
        width: 16px;

        @media (min-width: $width-xl) {
          height: vw(24px);
          width: vw(24px);
        }
      }
    }
  }

  &--white {
    color: #fff;

    * {
      color: #fff;
    }
  }

  &--normal {
    font-weight: 400;
  }

  &--small {
    color: #a3a3a3;
    font-weight: normal;
    font-size: 13px;
    line-height: 168.78%;

    @media (min-width: $width-xl) {
      font-size: vw(14px);
    }

    a {
      @include trans;
      color: #a3a3a3;
      text-decoration: none;

      &:hover {
        color: #000;
      }
    }

  }
}