@import '../fonts/Roboto/stylesheet.css';
@import '~nouislider/distribute/nouislider.css';
@import '~tiny-slider/dist/tiny-slider.css';
@import '~flatpickr/dist/flatpickr.min.css';
@import '~sumoselect/sumoselect.min.css';
@import '~jquery-colorbox/example1/colorbox.css';
@import 'initial';
@import 'variables';
@import 'mixins';
@import 'grid';
@import 'cmsContent';
@import 'ui';
@import 'libs/accordion';

.contact-page {
  padding-bottom: 0;

  &__contacts {
    flex: 0 0 100%;

    @media (min-width: $width-md) {
      flex: 0 0 50%;
      margin-right: 25px;
    }

    @media (min-width: $width-xl) {
      margin-right: 0;
    }
  }

  &__form {
    width: 100%;
    margin-bottom: 30px;

    @media (min-width: $width-md) {
      margin-bottom: 0;
    }

    &__wrapper {
      border-radius: 6px;
      border: 2px solid $blue;
      padding: 30px;

      @media (min-width: $width-md) {
        padding: vw(65px) vw(47px);
      }
    }
  }

  &__map {
    height: 250px;

    @media (min-width: $width-md) {
      height: vw(630px);
    }

    @media (min-width: $width-lg) {
      height: vw(630px);
    }
  }
}

.contact-box {
  margin-bottom: 30px;
  flex: 0 0 100%;

  @media (min-width: $width-md) {
    margin-bottom: vw(30px);
    flex: 0 0 45%;
  }

  @media (min-width: $width-lg) {
    flex: 0 0 45%;
  }

  @media (min-width: $width-xxl) {
    margin-bottom: vw(30px);
    flex: 0 0 vw(315px);
  }

  &__header {
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(#000, 0.1);
    color: #929292;
    font-size: 15px;
    line-height: 130%;
    padding: 0 0 16px 0;
    margin-bottom: 16px;
    width: 100%;

    @media (min-width: $width-lg) {
      font-size: 16px;
    }

    @media (min-width: $width-xl) {
      font-size: vw(14px);
      line-height: vw(16px);
      padding: 0 0 vw(16px) 0;
      margin-bottom: vw(16px);
      width: vw(206px);
    }
  }

  &__content {
    font-weight: 400;

    &__cms {
      a {
        text-decoration: none;
      }
    }
  }
}