@import '../fonts/Roboto/stylesheet.css';
@import '~nouislider/distribute/nouislider.css';
@import '~tiny-slider/dist/tiny-slider.css';
@import '~flatpickr/dist/flatpickr.min.css';
@import '~sumoselect/sumoselect.min.css';
@import '~jquery-colorbox/example1/colorbox.css';
@import 'initial';
@import 'variables';
@import 'mixins';
@import 'grid';
@import 'cmsContent';
@import 'ui';
@import 'libs/accordion';


.cook-page {
  &__recipes {
    margin-left: vw(-34px);
    margin-right: vw(-34px);
  }
}

.recipe {
  margin-bottom: 30px;
  padding: 0 vw(34px);
  text-decoration: none;
  @include trans;
  display: block;

  @media (min-width: $width-lg) {
    margin-bottom: vw(48px);
  }

  &:hover {
    opacity: 0.6;
  }

  &__cover {
    display: block;
    max-width: 100%;
    margin-bottom: 20px;

    @media (min-width: $width-lg) {
      margin-bottom: vw(32px);
    }
  }

  &__title {
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 137%;
    color: $darkGray;
    display: block;

    @media (min-width: $width-lg) {
      margin-bottom: vw(8px);
      font-size: vw(20px);
    }

  }

  &__time {
    position: relative;
    padding-left: 32px;
    font-size: 14px;
    line-height: 155.57%;
    color: rgba(#000, 0.5);
    display: block;

    @media (min-width: $width-lg) {
      padding-left: vw(32px);
      font-size: vw(16px);
    }

    &:before {
      content: url('../../images/clock.svg');
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      margin-top: 2px;

      @media (min-width: $width-lg) {
        margin-top: vw(2px);
        width: vw(24px);
      }
    }
  }
}