@import '../fonts/Roboto/stylesheet.css';
@import '~nouislider/distribute/nouislider.css';
@import '~tiny-slider/dist/tiny-slider.css';
@import '~flatpickr/dist/flatpickr.min.css';
@import '~sumoselect/sumoselect.min.css';
@import '~jquery-colorbox/example1/colorbox.css';
@import 'initial';
@import 'variables';
@import 'mixins';
@import 'grid';
@import 'cmsContent';
@import 'ui';
@import 'libs/accordion';

.coop-page {
  background: $navy;

  &__who {
    margin-left:-8px;
    margin-right: -8px;

    @media (min-width: $width-lg) {
      margin-left: vw(-8px);
      margin-right: vw(-8px);
    }

    &__box {
      margin-bottom: 30px;
      padding: 0 8px;
      position: relative;

      @media (min-width: $width-lg) {
        margin-bottom: vw(83px);
        padding: 0 vw(8px);
      }

      &__image {
        display: block;
        max-width: 100%;
      }

      &__label {
        background: $navy;
        font-weight: 300;
        font-size: 17px;
        padding: 8px 16px;
        line-height: 138.83%;
        color: #fff;
        position: absolute;
        left: 0;
        bottom: 0;

        @media (min-width: $width-sm) {
          font-size: 15px;
        }

        @media (min-width: $width-lg) {
          font-size: vw(24px);
          padding: vw(16px) vw(32px);
        }
      }
    }
  }

  &__how {
    flex: 0 0 100%;

    @media (min-width: $width-md) {
      flex: 0 0 45%;
    }

    @media (min-width: $width-lg) {
      flex: 0 0 60%;
    }

    @media (min-width: $width-xl) {
      flex: 0 0 vw(667px);
    }
  }

  &__contact {
    border: 2px solid $blue;
    padding: 30px;

    @media (min-width: $width-xl) {
      padding: vw(48px);
    }

    &__link {
      color: #fff;
      @include trans;
      display: block;
      text-decoration: none;
      font-weight: 300;
      font-size: 15px;
      line-height: 138.83%;

      @media (min-width: $width-xl) {
        font-size: vw(24px);
      }

      &:hover {
        opacity: 0.6;
      }
    }
  }
}