@import '../fonts/Roboto/stylesheet.css';
@import '~nouislider/distribute/nouislider.css';
@import '~tiny-slider/dist/tiny-slider.css';
@import '~flatpickr/dist/flatpickr.min.css';
@import '~sumoselect/sumoselect.min.css';
@import '~jquery-colorbox/example1/colorbox.css';
@import 'initial';
@import 'variables';
@import 'mixins';
@import 'grid';
@import 'cmsContent';
@import 'ui';
@import 'libs/accordion';

.faq-page {
  background: $navy;
}

.faq-block {
  margin-bottom: 60px;
  width: 100%;

  @media (min-width: $width-xl) {
    margin-bottom: vw(121px);
  }

  &__left {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 30px;

    @media (min-width: $width-md) {
      flex: 0 0 40%;
      max-width: 40%;
      margin-right: 50px;
    }

    @media (min-width: $width-xl) {
      flex: 0 0 vw(442px);
      max-width: vw(442px);
      margin-right: vw(128px);
    }
  }

  &__right {
    @media (min-width: $width-md) {
      margin-top: -32px;
    }

    @media (min-width: $width-xl) {
      margin-top: vw(-32px);
    }
  }

  &__heading {
    font-weight: 300;
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 135.77%;

    @media (min-width: $width-xl) {
      font-size: vw(32px);
      margin-bottom: vw(32px);
    }
  }

  &__desc {
    font-size: 14px;
    line-height: 155.57%;
    color: #939ab6;

    @media (min-width: $width-xl) {
      font-size: vw(16px);
    }
  }
}