@import '../fonts/Roboto/stylesheet.css';
@import '~nouislider/distribute/nouislider.css';
@import '~tiny-slider/dist/tiny-slider.css';
@import '~flatpickr/dist/flatpickr.min.css';
@import '~sumoselect/sumoselect.min.css';
@import '~jquery-colorbox/example1/colorbox.css';
@import 'initial';
@import 'variables';
@import 'mixins';
@import 'grid';
@import 'cmsContent';
@import 'ui';
@import 'libs/accordion';

.history-page {
  background: #37414A;
}

.timeline {
  max-width: 90%;
  margin: 0 auto;

  @media (min-width: $width-xl) {
    max-width: vw(1070px);
  }

  &__elem {
    $timeline-elem: &;
    padding-bottom: 50px;
    align-items: flex-end;
    position: relative;
    flex-direction: column-reverse;

    @media (min-width: $width-md) {
      flex-direction: row;
      align-items: center;
    }

    @media (min-width: $width-xl) {
      padding-bottom: vw(104px);
    }

    &:after {
      content: '';
      position: absolute;
      left: 50%;
      width: 1px;
      height: 100%;
      background: $blue;
      top: 0;
      display: none;

      @media (min-width: $width-md) {
       display: block;
      }
    }

    &__content, &__year {
      flex: 0 0 100%;
      max-width: 0 0 100%;
      color: #fff;

      @media (min-width: $width-md) {
        flex: 0 0 50%;
        max-width: 0 0 50%;
      }
    }

    &__content {
      text-align: right;

      @media (min-width: $width-md) {
        padding-right: 45px;
      }

      @media (min-width: $width-xl) {
        padding-right: vw(71px);
      }
    }

    &__year {
      text-align: left;
      font-weight: 300;
      font-size: 36px;
      padding-left: 45px;
      line-height: 132%;
      position: relative;

      @media (min-width: $width-xl) {
        font-size: vw(64px);
        padding-left: vw(71px);
      }

      &:before {
        content: '';
        position: absolute;
        left: 0;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background: $blue;
        top: 50%;
        transform: translate(-4px, -50%);

        @media (min-width: $width-xl) {
          width: vw(9px);
          height: vw(9px);
          transform: translate(vw(-4px), -50%);
        }
      }
    }

    &__text-header {
      font-weight: 300;
      line-height: 135.77%;
      padding-top: 5px;
      font-size: 18px;
      margin-bottom: 20px;

      @media (min-width: $width-xl) {
        padding-top: vw(5px);
        font-size: vw(32px);
        margin-bottom: vw(32px);
      }
    }
    &__text-content {
      font-weight: 300;
      font-size: 14px;
      line-height: 155.57%;

      @media (min-width: $width-xl) {
        font-size: vw(16px);
      }
    }

    &--right {
      flex-direction: column-reverse;
      align-items: flex-start;

      @media (min-width: $width-md) {
        flex-direction: row-reverse;
        align-items: center;
      }

      #{$timeline-elem}__year {
        text-align: right;
        padding-right: 45px;
        padding-left: 0;

        @media (min-width: $width-xl) {
          padding-right: vw(71px);
        }

        &:before {
          left: auto;
          right: -5px;
          transform: translate(0, -50%);

          @media (min-width: $width-xl) {
            right: vw(-5px);
            transform: translate(0, -50%);
          }
        }
      }

      #{$timeline-elem}__content {
        text-align: left;
        padding-right: 0;

        @media (min-width: $width-md) {
          padding-left: 45px;
        }

        @media (min-width: $width-xl) {
          padding-left: vw(71px);
        }
      }
    }
  }

}

