@import '../fonts/Roboto/stylesheet.css';
@import '~nouislider/distribute/nouislider.css';
@import '~tiny-slider/dist/tiny-slider.css';
@import '~flatpickr/dist/flatpickr.min.css';
@import '~sumoselect/sumoselect.min.css';
@import '~jquery-colorbox/example1/colorbox.css';
@import 'variables';
@import 'mixins';

.container {
  width: 100%;
  padding: 0 30px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  @media (min-width: $width-xl) {
    width: 71.354vw;
  }
}

body {
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.section-header {
  color: #fff;
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 44px;
  line-height: 133.64%;
  position: relative;
  margin-top: 0;

  @media (min-width: $width-xl) {
    font-size: vw(48px);
    margin-bottom: vw(96px);
  }

  &--silent {
    margin-bottom: 70px;

    @media (min-width: $width-xl) {
      margin-bottom: vw(87px);
    }
  }

  &--center {
    text-align: center;
  }

  &--dark {
    color: #000;
  }

  &--gray {
    color: $darkGray;
  }

  &--navy {
    color: $navy;
  }

  &--smaller {
    font-size: 20px;

    @media (min-width: $width-xl) {
      font-size: vw(32px);
    }
  }

  &:after {
    position: absolute;
    background: $blue;
    width: 2.76vw;
    bottom: -16px;
    content: '';
    left: 0;
    height: 1px;

    @media (min-width: $width-xl) {
      bottom: vw(-32px);
    }
  }

  &--coop {
    color:$blue;
    font-weight: 300;
    line-height: 135.77%;
    font-size: 24px;
    margin-bottom: 30px;

    @media (min-width: $width-xl) {
      font-size: vw(32px);
      margin-bottom: vw(35px);
    }

    &:after {
      display: none;
    }
  }

  &--noline {
    &:after {
      display: none;
    }
  }

  &--tech {
    margin-bottom: 20px;

    @media (min-width: $width-xl) {
      margin-bottom: vw(32px);
    }
  }
}

.simple-cart {
  $cart: &;
  position: absolute;
  top: 100%;
  right: 0;
  padding-top: vw(20px);
  visibility: hidden;
  opacity: 0;
  @include trans;

  &__caption {
    font-weight: bold;
    font-size: 24px;
    line-height: 144.26%;
    text-align: center;
    color: $darkGray;

    &--top {
      margin-bottom: vw(32px);
      text-align: left;
    }

    @media (min-width: $width-xl) {
      font-size: vw(24px);
    }
  }

  &__content {
    background: #fff;
    padding: 15px;
    border-radius: 6px;
    overflow: auto;
    width: 80vw;
    max-height: 80vh;
    box-shadow: 0 0 10px rgba($darkGray, 0.1);

    @media (min-width: $width-md) {
      width: 500px;
    }

    @media (min-width: $width-xl) {
      height: 594px;
      width: vw(670px);
      padding: vw(32px);
    }
  }

  &__products {
    margin-bottom: vw(32px);
  }

  &__product {
    border-bottom: 1px solid rgba(#000, 0.1);
    padding: vw(32px);

    &__image {
      margin-right: 50px;
      display: block;
      width: 70px;
      margin-bottom: 15px;

      @media (min-width: $width-md) {
        margin-bottom: 0;
      }

      @media (min-width: $width-xl) {
        margin-right: vw(24px);
        display: block;
        width: vw(76px);
      }
    }

    &__info {
      flex: 0 0 100%;
      //margin-right: vw(24px);
      margin-bottom: 15px;

      @media (min-width: $width-md) {
        flex: 0 0 vw(200px);
      }

      @media (min-width: $width-xl) {
        flex: 0 0 vw(278px);
      }

      &__title {
        font-weight: normal;
        font-size: 14px;
        margin-bottom: 4px;
        line-height: 160.96%;
        color: $darkGray;

        @media (min-width: $width-xl) {
          font-size: vw(16px);
          margin-bottom: vw(4px);
        }
      }

      &__param {
        display: inline-block;
        font-weight: normal;
        font-size: 14px;
        margin-right: 15px;
        line-height: 155.57%;
        color: $darkGray;
        opacity: 0.5;

        @media (min-width: $width-xl) {
          font-size: vw(16px);
          margin-right: vw(32px);
        }
      }
    }

    &__price {
      margin-right: 20px;
      font-size: 18px;
      font-weight: normal;
      line-height: 160.96%;
      color: $darkGray;
      margin-bottom: 15px;
      white-space: nowrap;

      @media (min-width: $width-md) {
        margin-bottom: 0;
      }

      @media (min-width: $width-xl) {
        margin-right: vw(24px);
        font-size: vw(16px);
      }
    }

    &__del {
      &__image {
        width: 32px;
        @include trans;
        cursor: pointer;

        @media (min-width: $width-xl) {
          width: vw(32px);
        }

        &:hover {
          opacity: 0.6;
        }
      }
    }
  }

  &__amount {
    margin-bottom: 20px;
    text-align: right;

    @media (min-width: $width-md) {
      margin-bottom: vw(32px);
    }

    &__label {
      font-weight: normal;
      font-size: 16px;
      margin-right: 20px;
      line-height: 160.96%;
      color: $darkGray;
      display: inline-block;

      @media (min-width: $width-md) {
        font-size: 16px;
        margin-right: 20px;
      }

      @media (min-width: $width-xl) {
        font-size: vw(16px);
        margin-right: vw(32px);
      }
    }

    &__value {
      display: inline-block;
      font-weight: normal;
      font-size: 18px;
      line-height: 150.14%;
      color: $blue;

      @media (min-width: $width-xl) {
        font-size: vw(20px);
      }
    }
  }

  &__button {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    padding: 12px 16px 12px 35px;
    text-transform: uppercase;
    color: #1263B7;
    display: inline-block;
    border: 1px solid #1263B7;
    position: relative;
    margin-bottom: 32px;
    text-decoration: none;
    @include trans;

    @media (min-width: $width-xl) {
      font-size: vw(14px);
      line-height: vw(16px);
      padding: vw(12px) vw(16px) vw(12px) vw(40px);
      margin-bottom: vw(32px);
    }

    &:hover {
      opacity: 0.6;
    }

    &:before {
      content: url('../../images/simple-cart.svg');
      position: absolute;
      top: 50%;
      width: 15px;
      left: 10px;
      margin-top: 2px;
      transform: translateY(-50%);

      @media (min-width: $width-xl) {
        width: vw(15px);
        left: vw(15px);
        margin-top: vw(2px);
      }
    }
  }

  &__empty-content {
    position: absolute;
    right: 0;
    background: #fff;
    padding: 32px;
    border-radius: 6px;
    width: 280px;
    display: none;

    @media (min-width: $width-md) {
      width: vw(314px);
      padding: vw(32px);
    }

    &__image {
      display: inline-block;
      max-width: 100%;
    }
  }

  &--empty {
    #{$cart}__content {
      display: none;
    }

    #{$cart}__empty-content {
      display: block;
    }
  }
}

.header {
  padding: vw(30px) vw(32px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  @include trans;

  &.scrolled {
    padding: vw(15px) vw(32px);
    background: #fff;
  }

  &__left {
    justify-content: flex-start;
    display: flex;
    width: fit-content;
    align-items: center;
  }

  &--white {
    background: #fff;
  }

  &__actions {
    margin-left: vw(40px);
    position: relative;
    top: 2px;

    &:before {
      @media (min-width: $width-md) {
        background: #c3c3c3;
        content: '';
        width: 1px;
        height: vw(18px);
        top: 50%;
        transform: translateY(-50%);
        left: vw(-20px);
        position: absolute;
      }
    }

    &__search, &__cart {
      position: relative;
      display: inline-block;

      &__icon {
        cursor: pointer;
        @include trans;

        &:hover {
          transform: scale(1.2);
        }
      }
    }

    &__cart {

      &:hover {
        .simple-cart {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    @media (min-width: $width-md) {
      display: inline-block;
      top: 0;
    }
  }

  &__catalogue {
    font-weight: 500;
    font-size: vw(14px);
    line-height: vw(16px);
    text-transform: uppercase;
    color: $darkGray;
    padding: vw(18px) vw(32px) vw(18px) vw(56px);
    position: relative;
    border: 2px solid $darkGray;
    text-decoration: none;
    @include trans;
    margin-left: vw(32px);
    display: none;

    &:hover {
      opacity: 0.7;
    }

    &:before {
      content: url('../../images/cart-down.svg');
      position: absolute;
      width: 12px;
      top: 50%;
      margin-left: 8px;
      left: 0;
      margin-top: 2px;
      transform: translateY(-50%);

      @media (min-width: $width-xl) {
        width: vw(12px);
        margin-top: vw(2px);
        margin-left: vw(34px);
      }
    }


    @media (min-width: $width-md) {
      display: inline-block;
      font-size: 12px;
      line-height: 16px;
    }

    @media (min-width: $width-xl) {
      font-size: vw(14px);
      line-height: vw(16px);
    }
  }

  .n-socials {
    display: none;

    @media (min-width: $width-md) {
      display: inline-block;
    }
  }
}

main {
  overflow: hidden;
}

.main-menu {
  background: #fff;
  border-radius: 10px;
  position: fixed;
  width: vw(1890px);
  left: 50%;
  transform: translateX(-50%);
  padding: 30px;
  z-index: 50;
  top: -100vh;
  @include trans;
  height: 70vh;
  overflow: auto;

  &.active {
    top: 113px;

    @media (min-width: $width-lg) {
      top: vw(113px);
    }
  }

  &__col {
    width: 100%;

    @media (min-width: $width-sm) {
      width: 50%;
    }

    @media (min-width: $width-md) {
      width: 33.3333%;
    }

    @media (min-width: $width-lg) {
      width: auto;
    }
  }

  @media (min-width: $width-lg) {
    padding: vw(65px) vw(147px);
    height: auto;
  }

  &__header-link {
    font-weight: normal;
    font-size: 20px;
    line-height: 137%;
    color: #000000;
    margin-bottom: 20px;
    position: relative;
    text-decoration: none;
    display: block;

    &:after {
      position: absolute;
      left: 0;
      content: '';
      background: #6BD8EB;
      bottom: vw(-32px);
      width: vw(53px);
      height: 1px;

      @media (min-width: $width-lg) {
        bottom: -11px;
      }

      @media (min-width: $width-xl) {
        bottom: vw(-32px);
        margin-bottom: vw(20px);
      }
    }

    @media (min-width: $width-lg) {
      font-size: 18px;
    }

    @media (min-width: $width-xl) {
      font-size: vw(20px);
    }
  }

  &__list {
    list-style-type: none;
    padding-left: 0;

    &__item {
      &__link {
        font-weight: normal;
        font-size: 14px;
        margin-bottom: 16px;
        line-height: 168.78%;
        color: #808080;
        text-decoration: none;
        display: block;
        @include trans;

        &:hover {
          color: $darkGray;
        }

        @media (min-width: $width-lg) {
          font-size: 13px;
          margin-bottom: 16px;
        }

        @media (min-width: $width-xl) {
          font-size: vw(14px);
          margin-bottom: vw(16px);
        }
      }
    }

  }
}

.search-screen {
  background: rgba(#fff, 0.85);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  top: -110vh;
  @include trans;

  &.active{
    opacity: 1;
    top: 0;
  }

  .search-box {
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    width: 80%;
    box-shadow: 0 0 10px rgba($darkGray, 0.1);
    height: 90vh;
    overflow: auto;

    @media (min-width: $width-xl) {
      width: vw(981px);
      padding: vw(48px) vw(58px);
    }

    &__header {
      font-weight: normal;
      line-height: 137%;
      color: #242424;
      font-size: 20px;
      margin-bottom: 32px;

      &--moremb {
        margin-bottom: 60px !important;

        @media (min-width: $width-xl) {
          margin-bottom: vw(60px) !important;
        }
      }

      @media (min-width: $width-xl) {
        font-size: vw(20px);
        margin-bottom: vw(32px);
      }
    }

    &__input-wrapper {
      position: relative;
      flex: 0 0 100%;
      margin-right: 0;
      margin-bottom: 15px;

      @media (min-width: $width-md) {
        flex: 0 0 50%;
        margin-right: 8px;
        margin-bottom: 0;
      }

      @media (min-width: $width-xl) {
        flex: 0 0 vw(662px);
        margin-right: vw(8px);
      }

      &:before {
        content: url('../../images/search-input.svg');
        position: absolute;
        top: 50%;
        width: 20px;
        margin-left: 15px;
        margin-top: 2px;
        left: 0;
        transform: translateY(-50%);

        @media (min-width: $width-xl) {
          width: vw(20px);
          margin-left: vw(32px);
          margin-top: vw(2px);
        }
      }
    }

    &__product-name {
      border: 2px solid $darkGray;
      font-weight: 300;
      font-size: 14px;
      line-height: 138.83%;
      width: 100%;
      color: $darkGray;
      font-family: 'Roboto', sans-serif;
      padding: 18px 18px 18px 45px;

      @media (min-width: $width-xl) {
        font-size: vw(24px);
        padding: vw(18px) vw(18px) vw(18px) vw(65px);
      }

      &::placeholder {
        opacity: 1;
        color: $darkGray;
      }
    }

    &__top {
      border-bottom: 1px solid #efefef;
      padding-bottom: 30px;

      @media (min-width: $width-xl) {
        padding-bottom: vw(32px);
      }
    }

    &__price {
      padding: 30px 0 50px 0;
      border-bottom: 1px solid #efefef;

      @media (min-width: $width-xl) {
        padding: vw(32px) 0 vw(50px) 0;
      }
    }

    &__size{
      padding: 30px 0;
      border-bottom: 1px solid #efefef;

      @media (min-width: $width-xl) {
        padding: vw(32px) 0;
      }
    }

    &__color {
      border-bottom: 1px solid #efefef;
      padding: 30px 0;
      margin-bottom: 30px;

      @media (min-width: $width-xl) {
        padding: vw(32px) 0;
        margin-bottom: vw(32px);
      }

    }

    &__submit-wrapper {
      position: relative;
      margin-bottom: 30px;

      &:after {
        content: url('../../images/white-search.svg');
        position: absolute;
        top: 50%;
        width: 20px;
        left: 32px;
        transform: translateY(-50%);

        @media (min-width: $width-xl) {
          width: vw(20px);
          left: vw(32px);
        }
      }

      @media (min-width: $width-xl) {
        margin-bottom: vw(32px);
      }
    }
    &__submit {
      background: #377EC7;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      padding: 24px 24px 24px 68px;
      text-transform: uppercase;
      color: #FFFFFF;
      border: none;
      cursor: pointer;
      @include trans;

      @media (min-width: $width-xl) {
        font-size: vw(16px);
        line-height: vw(19px);
        padding: vw(24px) vw(24px) vw(24px) vw(68px);
      }

      &:hover {
        background: $navy;
      }
    }

    // Search sumo
    .SumoSelect {
      width: 100%;
      border: 2px solid $darkGray;

      @media (min-width: $width-md) {
        width: 50%;
      }

      @media (min-width: $width-xl) {
        width: vw(190px);
      }
    }
    .sumo_search-category {
      border: 2px solid $darkGray;
    }

    .SumoSelect>.CaptionCont {
      padding: 16px 8px;

      @media (min-width: $width-xl) {
        padding: 4px 8px;
      }
    }

    .SumoSelect>.CaptionCont>span {
      line-height: 21px;
      font-weight: 300;
      font-size: 13px;
      color: $darkGray;
      text-transform: none;

      @media (min-width: $width-xl) {
        font-size: vw(24px);
        line-height: 2.875vw;
      }
    }
  }
}

.small-heading {
  font-size: 16px;
  line-height: 155.57%;
  color: $lightgray;
  position: relative;
  margin-bottom: 20px;
  text-align: center;

  &:after {
    position: absolute;
    background: $blue;
    width: 2.76vw;
    bottom: -0.625vw;
    content: '';
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
  }

  &--left {
    text-align: left;

    &:after {
      left: 0;
      transform: translateX(0);
    }
  }

  @media (min-width: $width-xl) {
    font-size: vw(16px);
  }
}

.heading {
  color: $black;
  font-size: 24px;
  font-weight: 300;
  line-height: 133.64%;
  text-align: center;
  margin-bottom: 30px;
  position: relative;
  margin-top: 0;

  @media (min-width: $width-lg) {
    margin-bottom: 3.698vw;
  }

  &--left {
    text-align: left;
  }

  &--white {
    color: #fff;
  }

  &--lined {
    &:after {
      position: absolute;
      background: $blue;
      width: 2.76vw;
      bottom: -0.625vw;
      content: '';
      left: 50%;
      transform: translateX(-50%);
      height: 1px;
    }
  }

  @media (min-width: $width-xl) {
    font-size: 2.5vw;
  }

  &--smaller {
    font-size: 18px;

    @media (min-width: $width-md) {
      font-size: 20px;
    }

    @media (min-width: $width-xl) {
      font-size: vw(32px);
    }
  }

}

.logo {
  width: 100px;
  margin-left: 25px;

  @media (min-width: $width-md) {
    width: auto;
    margin-right: 32px;
    margin-left: 0;
  }
}

.menu-burger {
  $menu-burger: &;
  padding: 25px 15px;
  display: inline-block;
  cursor: pointer;

  &__stripe {
    @include trans(0.15s);
    left: 0;
    width: 20px;
    height: 2px;
    background: #242424;
    position: relative;
    display: block;

    &:before,
    &:after {
      @include trans(0.15s);
      width: 20px;
      height: 2px;
      background: #242424;
      content: '';
      position: absolute;
    }
    &:before {
      top: -7px;
    }
    &:after {
      top: 7px;
    }
  }

  &:hover {
    #{$menu-burger}__stripe {
      width: 24px;
      left: -2px;

      &:before,
      &:after {
        width: 24px;
      }
    }
  }
}

.footer {
  padding: 30px 0;

  @media (min-width: $width-md) {
    padding: 5.365vw 0;
  }

  &__top {
    margin-bottom: 30px;

    @media (min-width: $width-md) {
      margin-bottom: vw(78px);
    }
  }

  &__socials {
    display: inline-block;
  }

  &__heading {
    font-size: 13px;
    margin-bottom: 15px;
    line-height: 168.78%;
    color: $darkGray;
    text-transform: uppercase;

    @media (min-width: $width-md) {
      font-size: vw(26px);
      margin-bottom: vw(30px);
    }

    @media (min-width: $width-xl) {
      font-size: vw(18px);
      margin-bottom: vw(30px);
    }

    @media (min-width: $width-xl) {
      font-size: vw(14px);
      margin-bottom: vw(30px);
    }
  }

  &__list {
    margin-bottom: 30px;
    padding-left: 0;

    @media (min-width: $width-md) {
      margin-bottom: vw(30px);
    }

    &__item {
      list-style-type: none;
    }

    &__link {
      font-size: 11px;
      line-height: 168.78%;
      color: $darkGray;
      text-decoration: none;
      @include trans;

      @media (min-width: $width-xl) {
        font-size: vw(14px);
      }

      &:hover {
        opacity: 0.6;
      }
    }
  }

  &__text {
    font-size: 12px;
    line-height: 168.78%;
    color: $darkGray;

    @media (min-width: $width-xl) {
      font-size: vw(14px);
    }

    &--margined {
      margin-bottom: 15px;

      @media (min-width: $width-lg) {
        margin-bottom: vw(30px);
      }
    }

    &--opening {
      margin-bottom: 30px;
      margin-right: 37px;
      display: block;

      @media (min-width: $width-lg) {
        display: inline-block;
        margin-bottom: vw(30px);
        margin-right: vw(37px);
      }

    }

  }

  &__link {
    text-decoration: none;
    color: $darkGray;
    @include trans;

    &:hover {
      opacity: 0.6;
    }
  }

  &__menu {
    &__contact {
      flex: 0 0 100%;

      @media (min-width: $width-lg) {
        flex: 0 0 vw(658px);
      }

      @media (min-width: $width-xl) {
        flex: 0 0 vw(458px);
      }
    }

    &__infopages {
      flex: 0 0 100%;

      @media (min-width: $width-lg) {
        flex: 0 0 vw(983px);
      }

      @media (min-width: $width-xl) {
        flex: 0 0 vw(783px);
      }
    }
  }

  &__copy {
    color: #bebebe;
    font-size: 10px;
    line-height: 168.78%;
    margin: 0 0 0 auto;
    text-align: right;

    @media (min-width: $width-lg) {
      font-size: vw(14px);
    }

    &__wrapper {
      text-align: left;
      display: inline-block;
    }

    &__paragraph {
      margin: 0;
    }

    &__link {
      @include trans;
      color: #bebebe;
      text-decoration: none;

      &:hover {
        color: $darkGray;
      }
    }
  }
}

.footer-logo {
  padding-right: 5.104vw;
  position: relative;
  display: inline-block;
  margin-right: vw(36px);
  width: 80px;

  @media (min-width: $width-md) {
    width: auto;
  }

  &__image {
    display: block;
    width: 100%;
  }

  &:after {
    background: $blue;
    width: 3.385vw;
    height: 1px;
    top: 50%;
    transform: translateY(-50%);
    content: '';
    position: absolute;
    right: 0;
  }
}

.n-socials {
  display: inline-block;

  &__social-icon {
    margin-right: vw(22px);
    display: inline-block;
    @include trans;

    &:hover {
      opacity: 0.6;
    }
  }
}

.SumoSelect {
  width: 100%;
  cursor: pointer;

  & > .CaptionCont {
    border-color: #fff;
    text-transform: uppercase;
    color: $gray;
    font-size: 14px;
    min-height: 48px;
    padding-left: 24px;

    @media (min-width: $width-xl) {
      font-size: vw(14px);
      min-height: vw(48px);
      padding-left: vw(24px);
    }

    > span {
      line-height: 36px;
      cursor: pointer;

      @media (min-width: $width-xl) {
        line-height: vw(36px);
      }
    }
  }
}

.SumoSelect>.CaptionCont>label>i {
  background-image: url('../../images/chevron-down.svg');
  width: 18px;
}

.SumoSelect>.CaptionCont>label {
  right: vw(11px);
}

.SumoSelect.open>.optWrapper {
  top: vw(48px);
  display: block;
}

.SumoSelect.open>.CaptionCont, .SumoSelect:focus>.CaptionCont, .SumoSelect:hover>.CaptionCont {
  box-shadow: none;
  border-color: transparent;
}

.SumoSelect.open>.optWrapper {
  top: 100%;
  box-shadow: 0 0 vw(10px) rgba(#000, 0.1);
  border-radius: 0;
  border: 0;
}

.SumoSelect>.optWrapper>.options {
  border-radius: 0;
  position: relative;
  max-height: 250px;
}

.SumoSelect>.optWrapper>.options li.opt {
  padding: vw(15px);
  position: relative;
  border-bottom: none;
}

.SumoSelect>.CaptionCont>span.placeholder {
  color: $gray;
  font-style: normal;
}

#slider {
  width: calc(100% - 30px);
  margin-bottom: 12px;

  @media (min-width: $width-xl) {
    width: calc(100% - 20px);
    margin-bottom: vw(12px);
  }
}


.noUi-tooltip {
  position: absolute;
  border: none;
  background: transparent;
  font-size: 13px;
  line-height: 155.57%;
  color: $darkGray;
  outline: none;

  @media (min-width: $width-xl) {
    font-size: vw(16px);
  }
}
.noUi-horizontal {
  width: calc(100% - 20px);
}

.noUi-handle {
  border: none;
  border-radius: 50%;
  background: $blue;
  box-shadow:none;
  width: 20px !important;
  height: 20px !important;
  top: -8px !important;
  right: auto !important;
  left: 100% !important;
  outline: none;

  &:before, &:after{
    display: none !important;
  }
}

.noUi-target {
  background: #e4e4e4;
  border-radius: 0;
  border: none;
  box-shadow:none;
}

.noUi-horizontal {
  height: 4px;
}

.noUi-connect {
  background: $blue;
}

.page {
  padding: 100px 0 50px 0;

  @media (min-width: $width-lg) {
    padding: vw(188px) 0 vw(64px) 0;
  }

  &--nobar{
    padding-top: 100px;

    @media (min-width: $width-md) {
      padding-top: 160px;
    }

    @media (min-width: $width-lg) {
      padding-top: 180px;
    }

    @media (min-width: $width-xl) {
      padding-top:  vw(124px);
    }
  }

  &--withbar {
    @media (min-width: $width-md) {
      padding-top: vw(400px);
    }

    @media (min-width: $width-lg) {
      padding-top: vw(328px);
    }
  }

  &--full-top {
    padding-top: 0;
  }
}

.submit-wrapper {
  flex: 0 0 100%;
  width: 100%;
}

.variants {
  &__variant {
    background: #f9f9f9;
    color: $darkGray;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 13px;
    padding: 12px;
    border-radius: 3px;
    margin-right: 8px;
    margin-bottom: 8px;
    display: inline-block;
    text-decoration: none;

    &--active {
      background: $blue;
      color: #fff;
    }

    @media (min-width: $width-md) {
      padding: 16px;
      font-size: 12px;
      line-height: 14px;
    }

    @media (min-width: $width-xl) {
      font-size: vw(12px);
      line-height: vw(14px);
      padding: vw(16px);
      border-radius: 3px;
      margin-right: vw(8px);
      margin-bottom: vw(8px);
    }

    &--orange {
      background: #aad013;
      color: #fff;
    }
  }
}