@import 'initial';
@import 'grid';
@import 'cmsContent';
@import 'ui';
@import 'libs/accordion';
@import '_bottomBanners';

.categories-screen {
  height: 100vh;
  width: 100%;
  background-image: url('../../images/categories-screen.jpg');
  background-size: cover;
  background-position: center top;
  position: relative;

  @media (min-width: $width-md) {
    height: 100vh;
  }

  &__title {
    left: 30px;
    top: 80px;
    position: absolute;
    font-weight: 300;
    font-size: 30px;
    line-height: 132%;
    color: $darkGray;

    @media (min-width: $width-md) {
      top: 21vh;
      left: vw(1000px);
      font-size: vw(94px);
    }

    @media (min-width: $width-xl) {
      font-size: vw(64px);
      left: vw(1100px);
    }

  }
}

.homepage-categories-wrapper {
  position: absolute;
  width: 100%;
  bottom: 28px;
}

.homepage-categories-box {
  background: $navy;
  border-radius: 6px;

  &__header {
    color: #fff;
    text-align: center;
    font-weight: 300;
    line-height: 136%;
    padding-top: 1.667vw;
    font-size: 20px;
    position: relative;
    margin-bottom: 54px;

    &:after {
      bottom: -12px;
      width: 54px;
      height: 1px;
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      background: $blue;
      content: '';
    }

    @media (min-width: $width-md) {
      font-size: 1.667vw;
    }

  }

  &__categories {
    display: flex;
    align-items: center;
    padding: 0 3.333vw;
    flex-wrap: wrap;
    justify-content: center;

    &__category {
      $cat: &;
      text-align: center;
      display: flex;
      flex-direction: column;
      padding-bottom: 20px;
      text-decoration: none;
      width: 50%;
      flex: 0 0 50%;

      @media (min-width: $width-md) {
        width: 14.28%;
        flex: 0 0 14.2%;
        padding-bottom: 1.667vw;
      }

      &__icon-wrapper {
        height: 8.396vw;
        display: flex;
        align-items: center;
        margin-bottom: 1.25vw;

        @media (min-width: $width-md) {
          height: 2.396vw;
        }
      }

      &__icon {
        @include trans;
        max-height: 100%;
        display: block;
        margin: 0 auto;
      }

      &__title {
        color: #fff;
        font-size: 14px;
        line-height: 137%;
        font-weight: 300;

        @media (min-width: $width-xl) {
          font-size: vw(20px);
        }
      }

      &:hover {
        #{$cat}__icon {
          opacity: 0.6;
        }
      }
    }
  }
}

.image-caption {
  $caption: &;
  position: relative;
  margin-bottom: 30px;
  top: 131%;
  left: 0;
  z-index: 1;

  @media (min-width: $width-md) {
    top: 100%;
    position: absolute;
    margin-top: -7vw;
    margin-bottom: 0;
  }

  &__title {
    line-height: 110%;
    text-transform: uppercase;
    color: $lightgray;
    margin-bottom: 5px;
    font-size: 13px;
    position: relative;

    @media (min-width: $width-md) {
      margin-bottom: 0.808vw;
      font-size: 1.2vw;
    }

    @media (min-width: $width-xl) {
      margin-bottom: 0.508vw;
      font-size: 0.729vw;
    }

    &:after {
      content: url('../../images/hood-pointer.svg');
      position: absolute;
      width: 4.583vw;
      top: 50%;
      margin-left: 1.927vw;
      left: 100%;
      transform: translateY(-50%);
    }
  }

  &__btn {
    font-size: 14px;
    line-height: 110%;
    text-decoration: none;
    text-transform: uppercase;
    color: $darkGray;
    font-weight: 500;
    padding-left: 33px;
    position: relative;
    @include trans;

    @media (min-width: $width-md) {
      font-size: 1.2vw;
    }

    @media (min-width: $width-xl) {
      font-size: 0.729vw;
    }

    &:hover {
      opacity: 0.7;
    }

    &:before {
      content: url('../../images/cart.svg');
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }

  &--vertical {
    #{$caption}__title {
      &:after {
        top: -1.563vw;
        margin-left: 0;
        left: 14px;
        transform: translateX(-100%) rotate(90deg);
        transform-origin: 100% 0;
      }
    }

    #{$caption}__btn {
      color: #fff;
    }
  }
}

.design-screen {
  padding-top: 3.906vw;
  padding-bottom: 6.875vw;
  background-image: url('../../images/hood.jpg');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;

  &__ceramic-hood {
    &__image-wrapper {
      position: relative;
      margin: 30px 0 20px 0;
      display: block;

      @media (min-width: $width-md) {
        margin: -13.49vw 0 4.063vw 0;
      }
    }

    &__image {
      margin: 0 auto;
      display: block;
      width: 50.302vw;

      @media (min-width: $width-md) {
        width: 26.302vw;
      }
    }

    &__bottom-text {
      position: relative;
      margin-left: 0;
      max-width: 100%;

      @media (min-width: $width-md) {
        margin-left: 50%;
        max-width: 35.26vw;
        left: 4.792vw;
      }

      @media (min-width: $width-lg) {
        max-width: 25.26vw;
      }

      &__content {
        padding-left: 29px;
        border-left: 1px solid $blue;
        margin-bottom: 16px;
        margin-top: 100px;
        @include paragraph;

        @media (min-width: $width-md) {
          margin-bottom: 2.5vw;
          margin-top: 0;
        }
      }

      &__link {
        margin-bottom: 0;
      }
    }

    &__dots {
      transform: rotate(-90deg);
      display: inline-block;
      transform-origin: 0 0;
      position: relative;
      margin-top: 130px;

      @media (min-width: $width-md) {
        position: absolute;
        margin-top: 0;
      }

      &__dot {
        $dot: &;
        font-size: 14px;
        line-height: 168.78%;
        color: $darkGray;
        text-transform: uppercase;
        position: relative;
        padding-left: 20px;
        margin-bottom: 0.729vw;
        cursor: pointer;
        width: 12.396vw;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (min-width: $width-md) {
          font-size: 1.5vw;
          padding-left: 1.51vw;
        }

        @media (min-width: $width-xl) {
          font-size: 0.729vw;
          padding-left: 1.51vw;
        }

        &__line {
          border-bottom: 1px solid #e2e2e2;
          transform: translateY(-50%);
          height: 100%;
          width: 80%;
          @include trans;
        }

        &__title {
          padding-right: 1.042vw;
        }

        &:after,
        &:before {
          @include trans;
        }

        &:after {
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          background: #e2e2e2;
          border-radius: 50%;
          content: '';
          width: 10px;
          height: 10px;

          @media (min-width: $width-md) {
            width: 0.729vw;
            height: 0.729vw;
          }
        }

        &.active,
        &:hover {
          &:after {
            background: $blue;
          }

          #{$dot}__line {
            border-color: $blue;
          }
        }
      }
    }
  }
}

.manufacture {
  padding-top: 8.906vw;
  padding-bottom: 10.677vw;
  background: #0f0e15;
  display: flex;
  position: relative;
  flex-wrap: wrap;

  &__caption {
    right: 6%;
    top: 28.1vw;
    left: auto;
    display: none;

    @media (min-width: $width-lg) {
      display: block;
    }
  }

  &__button {
    margin-bottom: 0;
  }

  &__left,
  &__right {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    z-index: 1;

    @media (min-width: $width-lg) {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  &__icons {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1.2vw;
  }

  &__icon-box {
    display: flex;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    align-items: center;

    @media (min-width: $width-sm) {
      flex: 0 0 50%;
      max-width: 50%;
      margin-bottom: 2.552vw;
    }

    &__icon-wrapper {
      width: 7.167vw;
      flex: 0 0 7.167vw;
      margin-right: 1.5vw;
      padding-left: 1.5vw;

      @media (min-width: $width-md) {
        margin-right: 1.1vw;
        width: 4.167vw;
        flex: 0 0 4.167vw;
      }
    }

    &__icon-desc {
      font-size: 14px;
      color: #fff;
      line-height: 137%;
      font-weight: 300;
      width: 80%;

      @media (min-width: $width-md) {
        font-size: 1.5vw;
      }

      @media (min-width: $width-xl) {
        font-size: 1.042vw;
      }
    }

    &__icon {
      width: 100%;
    }
  }

  &__hood {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
    width: 100%;
  }
}

.bestsellers {
  padding-top: 6.615vw;
  padding-bottom: 8.281vw;
  background: #f9f9f9;

  &__wrapper {
    display: flex;
  }

  &__menu {
    max-width: 12.708vw;
    display: none;

    @media (min-width: $width-lg) {
      display: block;
    }

    &__header {
      font-style: normal;
      font-weight: 300;
      font-size: 2.5vw;
      line-height: 133.64%;
      margin-bottom: 3.1vw;
    }

    &__categories {
      border-right: 1px solid #e8e8e8;
      list-style-type: none;
      padding-left: 0;

      &__category {
        padding: 1.667vw 0;
        text-transform: uppercase;
        position: relative;
        cursor: pointer;
        line-height: 135.77%;
        font-size: 0.729vw;
        color: $lightgray;
        font-weight: 500;
        opacity: 0.8;
        @include trans;

        @media (min-width: $width-lg) {
          font-size: 10px;
        }

        @media (min-width: $width-xl) {
          font-size: 0.729vw;
        }

        &:before {
          content: url('../../images/chevron-right.svg');
          position: absolute;
          transform: translateY(-50%);
          top: 50%;
          right: 4vw;
          opacity: 0;
          @include trans;

          @media (min-width: $width-lg) {
            width: 12px;
          }

          @media (min-width: $width-xl) {
            width: 16px;
          }

        }

        &:hover,
        &.active {
          color: $darkGray;
          opacity: 1;

          &:before {
            opacity: 1;
            right: 2.604vw;

            @media (min-width: $width-lg) {
              right: 10px;
            }

            @media (min-width: $width-xl) {
              right: 2.604vw;
            }
          }
        }

        &:after {
          width: 2.76vw;
          height: 1px;
          background: $blue;
          content: '';
          position: absolute;
          top: 100%;
          left: 0;
        }

        &:first-of-type {
          padding-top: 1vw;
          &:before {
            margin-top: -3px;
          }
        }

        &:last-of-type {
          padding-bottom: 1vw;
          &:before {
            margin-top: 5px;
          }
          &:after {
            display: none;
          }
        }
      }
    }
  }

  .tns-outer {
    @media (min-width: $width-lg) and (max-width: $width-xl - 1){
      flex: 0 0 vw(1000px);
    }
  }

  &__slider {
    margin-top: 5.208vw;
    width: 100%;

    @media (min-width: $width-md) {
      //display: block;
    }

    @media (min-width: $width-lg) {
      flex: 0 0 vw(600px);
    }

    @media (min-width: $width-xl) {
      margin-top: 5.208vw;
      width: 43.385vw;
    }
  }

  &__bestseller {
    position: relative;
    &__image {
      display: block;
      width: 100%;
    }
  }

  &__infobox {
    width: 100%;
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @media (min-width: $width-lg) {
      width: 50%;
      flex: 0 0 50%;
    }

    @media (min-width: $width-xl) {
      width: 14.063vw;
      flex: 0 0 14.063vw;
    }

    &__heading {
      margin-bottom: 1.25vw;
    }
    &__desc {
      font-size: 14px;
      margin-bottom: 15px;
      line-height: 130%;

      @media (min-width: $width-lg) {
        font-size: 1.042vw;
        margin-bottom: 1.667vw;
      }
    }
  }
}

.price-box {
  background: #fff;
  max-width: 50%;
  bottom: 0;
  right: 0;
  position: absolute;

  @media (min-width: $width-md) {
    right: 10%;
    max-width: 40%;
    bottom: 10%;
  }

  @media (min-width: $width-lg) {
    right: 20%;
    max-width: 13.281vw;
    bottom: auto;
    top: -11%;
  }

  &__up {
    background: $blue;
    padding: 15px;

    @media (min-width: $width-lg) {
      padding: 1.25vw 1.667vw;

    }
  }

  &__name {
    color: #fff;
    text-transform: uppercase;
    line-height: 135.77%;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 15px;
    position: relative;

    @media (min-width: $width-lg) {
      font-size: 1.667vw;
      margin-bottom: 1.667vw;
    }

    &:after {
      position: absolute;
      width: 2.76vw;
      height: 1px;
      background: #fff;
      content: '';
      left: 0;
      bottom: -0.625vw;
    }
  }

  &__price {
    font-size: 19px;
    margin-bottom: 15px;
    line-height: 137%;
    color: #fff;

    @media (min-width: $width-lg) {
      font-size: 1.042vw;
      margin-bottom: 0.833vw;
    }
  }

  &__options {
    &__option {
      background: rgba(255, 255, 255, 0.1);
      border-radius: 3px;
      margin-right: 5px;
      margin-bottom: 5px;
      font-size: 12px;
      padding: 8px 12px;
      line-height: 110%;
      display: inline-block;
      color: #fff;
      text-transform: uppercase;

      @media (min-width: $width-lg) {
        font-size: 11px;
      }

      @media (min-width: $width-xl) {
        margin-right: 0.416vw;
        font-size: 0.625vw;
        padding: 0.833vw;
      }
    }
  }

  &__link {
    font-size: 11px;
    padding: 6px;
    line-height: 110%;
    text-decoration: none;
    text-transform: uppercase;
    color: $darkGray;
    font-weight: 500;
    @include trans;
    display: block;

    @media (min-width: $width-lg) {
      font-size: 0.729vw;
      padding: 0.885vw 1.667vw;
    }

    span {
      display: block;
      padding-left: 28px;
      position: relative;

      &:before {
        content: url('../../images/cart.svg');
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 15px;

        @media (min-width: $width-lg) {
          width: 20px;
        }
      }

      &:after {
        content: url('../../images/chevron-right.svg');
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        margin-top: 1px;
      }
    }

    &:hover {
      opacity: 0.7;
    }
  }
} // End of Bestsellers

.coop {
  padding: 30px 0;
  overflow: hidden;

  @media (min-width: $width-md) {
    padding: 3.542vw 0;
  }

  &__wrapper {
    display: flex;
    flex-wrap: nowrap;
    padding: 0 30px;
    align-items: center;
    position: relative;

    @media (min-width: $width-md) {
      padding-left: 14.792vw;
    }
  }

  &__box {
    flex: 0 0 100%;
    //width: 26.302vw;

    @media (min-width: $width-md) {
      flex: 0 0 26.302vw;
    }

    &__heading {
      margin-bottom: 15px;

      @media (min-width: $width-md) {
        margin-bottom: 1.667vw;
      }
    }

    &__desc {
      @include paragraph;
      margin-bottom: 15px;

      @media (min-width: $width-md) {
        margin-bottom: 2.5vw;
      }
    }
  }

  &__map {
    display: block;
    width: 100%;
    position: absolute;
    top: 50%;
    opacity: 0.2;
    right:0;
    transform: translateY(-50%);

    @media (min-width: $width-md) {
      flex: 0 0 vw(1155px);
      width: vw(1155px);
      position: relative;
      top: 0;
      transform: none;
      opacity: 1;
    }
  }
}

.cat-header {
  height: 180px;
  margin-bottom: 30px;
  background-size: cover;

  @media (min-width: $width-md) {
    height: 304px;
  }

  @media (min-width: $width-xl) {
    height: vw(534px);
    margin-bottom: vw(42px);
  }

  &__name {
    color: #fff;
    padding-bottom: 30px;
    font-size: 24px;
    font-weight: 300;

    @media (min-width: $width-xl) {
      padding-bottom: vw(53px);
      font-size: vw(48px);
      font-weight: 300;
    }
  }
}




