@import '../fonts/Roboto/stylesheet.css';
@import '~nouislider/distribute/nouislider.css';
@import '~tiny-slider/dist/tiny-slider.css';
@import '~flatpickr/dist/flatpickr.min.css';
@import '~sumoselect/sumoselect.min.css';
@import '~jquery-colorbox/example1/colorbox.css';
@import 'initial';
@import 'variables';
@import 'mixins';
@import 'grid';
@import 'cmsContent';
@import 'ui';
@import 'libs/accordion';

.manuals-page {
  &__hood-image {
    display: none;
    position: absolute;
    width: vw(272px);
    right: vw(70px);
    top: vw(-60px);

    @media (min-width: $width-md) {
      display: block;
    }
  }

  @media (min-width: $width-xl) {
      padding-top: vw(200px);
  }
}

.manuals {
  margin-left: -1px;
  margin-right: -1px;
  display: none;

  &.active {
    display: flex;
  }

  &__manual-col {
    padding: 0 1px;
    display: none;

    &.active {
      display: block;
    }
  }

  &__info {
    font-size: 18px;
    color: $darkGray;
    font-weight: 300;
    display: none;

    @media (min-width: $width-xl) {
      font-size: vw(30px);
    }

    &.active {
      display: block;
    }
  }

  &__manual {
    $manual: &;
    background: #F9F9F9;
    padding: 20px;
    text-decoration: none;
    @include trans;
    margin-bottom: 2px;
    display: block;

    @media (min-width: $width-xl) {
      padding: vw(32px) vw(48px);
    }

    &__title, &__category, &__label, &__size {
      display: block;
      @include trans;
    }

    &__title {
      font-weight: 300;
      font-size: 18px;
      margin-bottom: 4px;
      line-height: 138.83%;
      color: $darkGray;

      @media (min-width: $width-xl) {
        font-size: vw(24px);
        margin-bottom: vw(4px);
      }
    }

    &__category {
      font-size: 13px;
      margin-bottom: 18px;
      line-height: 168.78%;
      color: #8f8f8f;

      @media (min-width: $width-xl) {
        font-size: vw(14px);
        margin-bottom: vw(29px);
      }
    }

    &__label {
      font-size: 13px;
      margin-bottom: 20px;
      line-height: 155.57%;
      color: #8f8f8f;

      @media (min-width: $width-xl) {
        font-size: vw(16px);
        margin-bottom: vw(29px);
      }
    }

    &__size {
      color: $darkGray;
      font-size: 15px;
      padding-left: 32px;
      line-height: 155.57%;
      position: relative;

      @media (min-width: $width-xl) {
        font-size: vw(16px);
        padding-left: vw(32px);
      }

      &:after {
        content: url('../../images/down.svg');
        position: absolute;
        width: 16px;
        margin-top: 2px;
        top: 50%;
        left: 0;
        transform: translateY(-50%);

        @media (min-width: $width-xl) {
          width: vw(16px);
          margin-top: vw(2px);
        }
      }
    }

    &:hover {
      background: #1263B7;

      #{$manual}__title, #{$manual}__size {
        color: #fff;
      }

      #{$manual}__category, #{$manual}__label {
        color: #88b1db;
      }

      #{$manual}__size {
        &:after {
          content: url('../../images/down-white.svg');
        }
      }
    }

  }
}

.search {
  width: 100%;
  position: relative;
  margin-bottom: 30px;

  @media (min-width: $width-md) {
    width: vw(876px);
    margin-bottom: vw(64px);
  }

  &:after {
    content: url('../../images/search.svg');
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    left: 15px;
    margin-top: 2px;

    @media (min-width: $width-xl) {
      transform: translateY(-50%);
      width: vw(22px);
      left: vw(22px);
      margin-top: vw(2px);
    }

  }

  &__input {
    border: 2px solid $darkGray;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    color: $darkGray;
    font-weight: 300;
    line-height: 138.83%;
    font-size: 16px;
    padding: 17px 8px 17px 40px;

    @media (min-width: $width-xl) {
      font-size: vw(24px);
      padding: vw(17px) vw(8px) vw(17px) vw(60px);
    }

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $darkGray;

    }
  }
}

.cat-select {
  width: 100%;
  display: inline-block;

  @media (min-width: $width-md) {
    width: auto;
  }

  .SumoSelect {
    margin-bottom: 30px;
    cursor: pointer;

    @media (min-width: $width-lg) {
      margin-bottom: vw(64px);
    }
  }

  .SumoSelect>.CaptionCont {
    font-size: 16px;
    text-transform: none;
    font-weight: 300;
    line-height: 133.64%;
    font-family: 'Roboto', sans-serif;
    color: $darkGray;
    padding-left: 0;
    cursor: pointer;
    min-height: 36px;

    @media (min-width: $width-xl) {
      font-size: vw(48px);
    }

    span {
      line-height: 133.64%;
      padding-right: vw(60px);
    }
  }

  .SumoSelect>.CaptionCont>label>i {
    background-image: url('../../images/blue-chevron-down.svg');
    width: 18px;
    cursor: pointer;
  }

}