@import '../fonts/Roboto/stylesheet.css';
@import '~nouislider/distribute/nouislider.css';
@import '~tiny-slider/dist/tiny-slider.css';
@import '~flatpickr/dist/flatpickr.min.css';
@import '~sumoselect/sumoselect.min.css';
@import '~jquery-colorbox/example1/colorbox.css';
@import 'initial';
@import 'variables';
@import 'mixins';
@import 'grid';
@import 'cmsContent';
@import 'ui';
@import 'libs/accordion';

.news-page {
  background: $navy;

  &__left {
    flex: 0 0 100%;
    max-width: 100%;

    @media (min-width: $width-md) {
      flex: 0 0 50%;
      max-width: 50%;
      margin-right: 30px;
    }
    @media (min-width: $width-xl) {
      flex: 0 0 vw(442px);
      max-width: vw(442px);
      margin-right: vw(128px);
    }

  }

  &__cover {
    margin-bottom: 30px;
    display: block;
    max-width: 100%;

    @media (min-width: $width-xl) {
      margin-bottom: vw(62px);
    }
  }

  &__gallery-heading {
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 30px;
    line-height: 135.77%;
    color: #fff;

    @media (min-width: $width-xl) {
      font-size: vw(32px);
      margin-bottom: vw(32px);
    }
  }

  &__gallery {
    margin-bottom: 30px;

    @media (min-width: $width-xl) {
      margin-bottom: vw(32px);
    }

    &__item {
      flex: 0 0 33.3333%;
      max-width: 33.3333%;
      @include trans;

      &:hover {
        opacity: 0.6;
      }

      &__img {
        display: block;
        max-width: 100%;
      }
    }
  }

  &__news-header {
    margin-bottom: 40px;

    @media (min-width: $width-xl) {
      margin-bottom: vw(64px);
    }
  }

  &__news-date {
    color: $blue;
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 155.57%;

    @media (min-width: $width-xl) {
      font-size: vw(16px);
      margin-bottom: vw(32px);
    }
  }
}