@import '../fonts/Roboto/stylesheet.css';
@import 'initial';
@import 'variables';
@import 'mixins';
@import 'grid';
@import 'cmsContent';
@import 'ui';

.news-list {
  background: $navy;

  &__wrapper {
    margin-left: vw(-50px);
    margin-right: vw(-50px);
  }
}
.news-box {
  padding: 0 vw(50px);
  flex: 0 0 100%;
  @include trans;

  &:hover {
    opacity: 0.6;
  }

  @media (min-width: $width-sm) {
    flex: 0 0 50%;
  }
}

.news{
  text-decoration: none;
  display: block;
  margin-bottom: 30px;

  @media (min-width: $width-xl) {
    margin-bottom: vw(48px);
  }

  &__cover {
    display: block;
    width: 100%;
    margin-bottom: 15px;

    @media (min-width: $width-xl) {
      margin-bottom: vw(32px);
    }
  }

  &__date {
    color: #FFFFFF;
    opacity: 0.5;
    font-size: 14px;
    margin-bottom: 16px;
    line-height: 168.78%;
    display: block;
    position: relative;

    @media (min-width: $width-xl) {
      font-size: vw(14px);
      margin-bottom: vw(16px);
    }

    &:after {
      position: absolute;
      background: $blue;
      width: 30px;
      bottom: -8px;
      content: '';
      left: 0;
      height: 1px;

      @media (min-width: $width-xl) {
        width: 2.76vw;
        bottom: vw(-8px);
      }
    }
  }

  &__title {
    color: #fff;
    display: block;
    font-weight: 300;
    font-size: 20px;
    line-height: 135.77%;

    @media (min-width: $width-xl) {
      font-size: vw(32px);
    }
  }
}
