@import '../fonts/Roboto/stylesheet.css';
@import '~nouislider/distribute/nouislider.css';
@import '~tiny-slider/dist/tiny-slider.css';
@import '~flatpickr/dist/flatpickr.min.css';
@import '~sumoselect/sumoselect.min.css';
@import '~jquery-colorbox/example1/colorbox.css';
@import 'initial';
@import 'variables';
@import 'mixins';
@import 'grid';
@import 'cmsContent';
@import 'ui';
@import 'libs/accordion';
@import '_catsBar';
@import '_productBox';
@import '_bottomBanners';

.products-page {
  margin-bottom: vw(88px);

  &__sidebar {
    width: 280px;
    position: fixed;
    top: 0;
    left: -100vw;
    height: 100vh;
    z-index: 50;
    background: #f9f9f9;
    box-shadow: 0 0 10px rgba(#000, 0);
    padding: 20px;
    @include trans;

    &.active {
      left: 0;
      box-shadow: 0 0 10px rgba(#000, 0.12);
    }

    @media (min-width: $width-lg) {
      background: transparent;
      left: 0;
      font-size: 1.042vw;
      height: auto;
      flex: 0 0 25%;
      z-index: auto;
      position: relative;
      padding: 0 vw(8px) 0 0;
      box-shadow: none;
    }
  }

  &__products-filter {
    padding: 15px 0;
    text-align: right;
    display: block;

    @media (min-width: $width-lg) {
      display: none;
    }

    &__btn {
      border: 2px solid $blueBox;
      font-size: 13px;
      line-height: 130%;
      padding: 12px 30px 12px 50px;
      position: relative;
      text-transform: uppercase;
      display: inline-block;
      color: $blueBox;

      &:before {
        content: url('../../images/filter.svg');
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 16px;
        margin-top: 2px;

        @media (min-width: $width-xl) {
          width: vw(16px);
          left: vw(10px);
          margin-top: vw(2px);
        }
      }

      @media (min-width: $width-xl) {
        font-size: vw(13px);
        line-height: 130%;
        padding: vw(12px) vw(30px) vw(12px) vw(50px);
        position: relative;

      }
    }
  }

  &__products {
    flex: 1 0 75%;
    margin-right: vw(-8px);
  }
}

.filters {
  &__box {
    padding: vw(32px);
    background: #F9F9F9;
    margin-bottom: 2px;

    &__name {
      font-size: 16px;
      line-height: 155.57%;
      margin-bottom: 12px;

      @media (min-width: $width-lg) {
        font-size: vw(24px);
        line-height: 155.57%;
        margin-bottom: vw(16px);
      }

      @media (min-width: $width-xl) {
        font-size: vw(16px);
        line-height: 155.57%;
        margin-bottom: vw(12px);
      }

      &--bigger {
        font-size: 20px;
        line-height: 137%;
        margin-bottom: 70px;

        @media (min-width: $width-lg) {
          font-size: vw(24px);
          line-height: 137%;
          margin-bottom: vw(70px);
        }

        @media (min-width: $width-xl) {
          font-size: vw(20px);
          line-height: 137%;
          margin-bottom: vw(70px);
        }
      }
    }
  }

  &__btn {
    margin: vw(6px) 0 vw(30px) 0;
  }
}