@import '../fonts/Roboto/stylesheet.css';
@import '~nouislider/distribute/nouislider.css';
@import '~tiny-slider/dist/tiny-slider.css';
@import '~flatpickr/dist/flatpickr.min.css';
@import '~sumoselect/sumoselect.min.css';
@import '~jquery-colorbox/example1/colorbox.css';
@import 'initial';
@import 'variables';
@import 'mixins';
@import 'grid';
@import 'cmsContent';
@import 'ui';
@import 'libs/accordion';
@import '_catsBar';
@import '_productBox';
@import '_bottomBanners';

.single-product-page {
 // padding-top: vw(270px);
}

.single-product {
  &__header {
    padding: vw(48px) 0;
    justify-content: space-between;

    &__titles-wrapper {
      margin-right: vw(16px);
      margin-bottom: 30px;

      @media (min-width: $width-lg) {
        margin-bottom: 0;
      }
    }

    &__left {
      flex: 0 0 100%;
      justify-content: space-between;

      @media (min-width: $width-lg) {
       flex: 0 0 auto;
       justify-content: flex-start;
      }
    }

    &__right {
      flex: 0 0 100%;
      justify-content: space-between;
      flex-wrap: nowrap;

      @media (min-width: $width-lg) {
        flex: 0 0 auto;
        justify-content: flex-start;
      }

      align-content: center;
    }
  }

  &__name {
    margin-bottom: 5px;

    @media (min-width: $width-xl) {
      margin-bottom: vw(5px);
    }
  }

  &__category {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    padding-left: 25px;
    text-transform: uppercase;
    color: rgba(#242424, 0.5);
    position: relative;

    @media (min-width: $width-xl) {
      font-size: vw(14px);
      line-height: vw(16px);
      padding-left: vw(25px);
    }

    &:after {
      width: 16px;
      background: $blue;
      height: 1px;
      top: 50%;
      position: absolute;
      transform: translateY(-50%);
      content: '';
      left: 0;

      @media (min-width: $width-xl) {
        width: vw(16px);
      }
    }
  }

  &__variants {
    margin-bottom: 30px;

    @media (min-width: $width-lg) {
      margin-bottom: 0;
    }
  }

  &__vilpe-info {
    text-align: right;

    &__label {
      color: $navy;
      font-weight: 500;
      text-transform: uppercase;
      font-size: 10px;
      line-height: 14px;
      margin-right: 0;
      display: inline-block;

      @media (min-width: $width-lg) {
        font-size: vw(14px);
        line-height: vw(16px);
        margin-right: vw(32px);
      }
    }

    &__logo {
      position: relative;
      top: 3px;
      margin-right: 10px;

      @media (min-width: $width-lg) {
        margin-right: vw(32px);
      }
    }
  }

  &__actions {

    @media (min-width: $width-md) {
      padding-right: 15px;
    }

    @media (min-width: $width-lg) {
      padding-right: vw(35px);
    }

    &__action {
      padding: 3px 10px 0 10px;
      display: inline-block;
      cursor: pointer;
      position: relative;
      height: 100%;

      @media (min-width: $width-lg) {
        padding: vw(3px) vw(26px) 0 vw(26px);
        display: inline;
      }

      &:first-of-type {
        border-right: 1px solid #F1F1F1;
      }

      &__icon {
        width: 19px;
        @include trans;

        &:hover {
          opacity: 0.6;
        }

        @media (min-width: $width-lg) {
          width: vw(19px);
        }

        &--down {
          width: 16px;

          @media (min-width: $width-lg) {
            width: vw(16px);
          }
        }
      }
    }

  }

  &__socials {
    padding: 30px;
    position: absolute;
    right: 0;
    top: 150%;
    z-index: 1;
    background: #fff;
    display: flex;
    box-shadow: 0 0 10px rgba($darkGray, 0.1);
    opacity: 0;
    visibility: hidden;
    @include trans;

    &.active {
      opacity: 1;
      visibility: visible;
    }

    @media (min-width: $width-lg) {
      padding: vw(30px);
    }

    &__social-icon {
      display: inline-block;
      margin-right: 15px;
      height: 27px;
      width: 27px;
      @include trans;

      &:hover {
        opacity: 0.6;
      }

      &:last-of-type {
        margin-right: 0;
      }

      img {
        display: block;
        width: 100%;
      }

      @media (min-width: $width-lg) {
        margin-right: vw(24px);
        height: vw(27px);
        width: vw(27px);
      }
    }
  }

  &__slider {
    margin-bottom: 10px;
    height: auto;

    @media (min-width: $width-lg) {
      margin-bottom: vw(48px);
    }

    &__slide {
      height: 100%;
      img {
        display: block;
        max-width: 100%;
      }

    }
  }

  &__slider-thumbs {
      margin-bottom: 20px;

    @media (min-width: $width-lg) {
      margin-bottom: vw(48px);
    }

    &__thumb {
      @include trans;
      cursor: pointer;
      position: relative;
      flex: 0 0 25%;

      @media (min-width: $width-md) {
        flex: 0 0 16.6666%;
      }

      @media (min-width: $width-lg) {
        flex: 0 0 12.5%;
      }

      &:after {
        @include trans;
        background: #1263B7;
        height: 0;
        content: '';
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
      }

      &:hover {
        opacity: 0.6;
      }

      &.active {
        &:after {
          height: 4px;
        }
      }

      &__image {
        width: 100%;
        display: block;
      }
    }
  }

  &__select-box {
    background: #F9F9F9;
    padding: 15px;
    margin-bottom: 15px;

    @media (min-width: $width-lg){
      margin-bottom: 0;
      padding: vw(24px);
      margin-right: vw(15px);
    }

    &--width{
      width: 100%;
      flex: 0 0 100%;

      @media (min-width: $width-md){
        flex: 0 0 30%;
        margin-right: 1%;
      }

      @media (min-width: $width-lg){
        flex: 0 0 vw(245px);
      }
    }
    &--color{
      width: 100%;
      flex: 0 0 100%;

      @media (min-width: $width-md){
        flex: 0 0 30%;
        margin-right: 1%;
      }

      @media (min-width: $width-lg){
        flex: 0 0 vw(211px);
      }
    }
    &--turbo{
      width: 100%;
      flex: 0 0 100%;

      @media (min-width: $width-md){
        flex: 0 0 30%;
        margin-right: 1%;
      }

      @media (min-width: $width-lg){
        flex: 0 0 vw(290px);
      }
    }

    &__label {
      color: $darkGray;
      font-weight: 300;
      line-height: 138.83%;
      font-size: 16px;
      margin-bottom: 15px;

      @media (min-width: $width-lg){
        font-size: vw(24px);
        margin-bottom: vw(12px);
      }
    }
  }

  &__price-box {
    padding: 15px 0;
    text-align: center;
    flex: 0 0 100%;

    @media (min-width: $width-lg){
      padding: vw(15px) vw(40px);
      flex: 0 0 vw(400px);
    }

    @media (min-width: $width-xl){
      padding: vw(15px) vw(50px);
      flex: 0 0 auto;
    }

    &__price {
      text-align: center;
      color: $darkGray;
      font-weight: bold;
      line-height: 135.77%;
      white-space: nowrap;
      font-size: 16px;
      margin-bottom: 15px;

      @media (min-width: $width-xl){
        font-size: vw(32px);
        margin-bottom: vw(12px);
      }
    }

    &__quantity {
      position: relative;
      display: inline-block;

      &__input {
        text-align: center;
        width: 78px;
        font-size: 20px;
        height: 44px;
        font-weight: 300;
        color: $darkGray;
        line-height: 138.83%;
        border: none;
        outline: none;
        font-family: 'Roboto', sans-serif;

        @media (min-width: $width-xl){
          width: vw(78px);
          font-size: vw(24px);
          height: vw(64px);
        }

        @media (min-width: $width-xxl){
          height: vw(44px);
        }

        &:focus {
          outline: none;
        }
      }
      &__ctrl {
        position: absolute;
        top: 0;
        cursor: pointer;
        @include trans;

        &:hover {
          opacity: 0.6;
        }

        &.inc{
          left: 100%;
        }

        &.dec {
          right: 100%;
        }
      }
    }
  }

  &__addtobasket-wrapper {
    position: relative;
    cursor: pointer;
    margin: 0 auto;

    @media (min-width: $width-lg){
      margin: 0;
    }

    &:before {
      content: url('../../images/cart-bigger.svg');
      position: absolute;
      width: 20px;
      left: 15px;
      top: 50%;
      transform: translateY(-50%);

      @media (min-width: $width-lg){
        width: vw(25px);
        left: vw(20px);
      }

      @media (min-width: $width-xxl){
        width: vw(35px);
        left: vw(32px);
      }
    }
  }

  &__addtobasket {
    background: $blue;
    @include trans;
    font-size: 14px;
    line-height: 19px;
    padding: 12px 25px 12px 40px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    cursor: pointer;

    @media (min-width: $width-lg){
      font-size: vw(16px);
      line-height: vw(19px);
      padding: vw(30px) vw(20px) vw(30px) vw(50px);
    }

    @media (min-width: $width-xxl){
      font-size: vw(16px);
      line-height: vw(19px);
      padding: vw(30px) vw(28px) vw(30px) vw(70px);
    }

    &:hover {
      background: $navy;
    }
  }

  &__icons {
    padding: 20px 0;

    @media (min-width: $width-lg){
      padding: vw(64px) 0;
    }

    &__icon {
      flex: 0 0 100%;
      justify-content: left !important;
      margin-bottom: 20px;

      @media (min-width: $width-sm) {
        flex: 0 0 50%;
      }

      @media (min-width: $width-lg) {
        flex: 0 0 25%;
        margin-bottom: 0;
        justify-content: center !important;
      }

      &__img-wrapper {
        text-align: center;
        width: 48px;
        margin-right: 10px;

        @media (min-width: $width-lg) {
          max-width: vw(48px);
          margin-right: vw(27px);
        }

      }
      &__img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
      }
      &__label {
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        text-transform: uppercase;
        color: $darkGray;

        @media (min-width: $width-xl) {
          font-size: vw(14px);
          line-height: vw(16px);
        }
      }
    }
  }

  &__contact-bar {
    background: $navy;
    border-radius: 3px;
    color: #fff;
    padding: 30px 15px;
    margin-bottom: 30px;

    @media (min-width: $width-lg) {
      padding: vw(32px) vw(48px);
      margin-bottom: vw(64px);
    }

    span {
      font-weight: normal;
      font-size: 16px;
      line-height: 137%;
      color: inherit;
      display: block;
      margin: 12px 15px;

      @media (min-width: $width-lg) {
        font-size: vw(20px);
        margin: 0 vw(22px);
        display: inline-block;
      }
    }

    &__right-wrapper {
      flex: 0 0 100%;
      text-align: center;

      @media (min-width: $width-lg) {
        flex: 0 0 auto;
        text-align: right;
      }
    }

    &__ask {
      font-weight: normal;
      font-size: 16px;
      line-height: 137%;
      color: #FFFFFF;
      flex: 0 0 100%;
      text-align: center;
      margin: 0;

      @media (min-width: $width-lg) {
        flex: 0 0 auto;
        text-align: left;
      }

      @media (min-width: $width-xl) {
        font-size: vw(20px);
      }
    }

    &__phone {
      font-weight: 300;
      font-size: 20px;
      line-height: 135.77%;
      color: #FFFFFF;
      text-decoration: none;
      @include trans;

      @media (min-width: $width-xl) {
        font-size: vw(32px);
      }

      &:hover {
        opacity: 0.6;
      }
    }

    &__btn {
      border: 2px solid #ffffff;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      padding: 12px 16px;
      text-transform: uppercase;
      color: #FFFFFF;
      cursor: pointer;
      display: inline-block;
      text-decoration: none;
      @include trans;

      @media (min-width: $width-xl) {
        font-size: vw(14px);
        line-height: vw(16px);
        padding: vw(18px) vw(32px);
      }

      &:hover {
        background: $blue;
        border-color: $blue;
      }
    }
  }

  &__desc {
    margin-bottom: 30px;

     @media (min-width: $width-lg) {
       margin-bottom: vw(64px);
      }

    &__heading {
      margin-bottom: 30px;

       @media (min-width: $width-lg) {
         margin-bottom: vw(32px);
      }
    }
    &__content {
      flex: 0 0 100%;

       @media (min-width: $width-md) {
        flex: 0 0 50%;
      }
      @media (min-width: $width-lg) {
        flex: 0 0 vw(584px);
      }
    }

    &__image {
      align-self: flex-start;
      margin-top: vw(50px);
      width: 100%;

      @media (min-width: $width-md) {
        width: 50%;
      }
      @media (min-width: $width-lg) {
        width: auto;
        max-width: 50%;
      }
    }
  }

  &__technical-data {
    flex-direction: column-reverse;

    @media (min-width: $width-md) {
      flex-direction: row;
    }


    &__blueprint {
      align-self: flex-start;
      width: 100%;
      margin-bottom: 50px;

      @media (min-width: $width-md) {
        width: 50%;
        margin-right: 15px;
      }

      @media (min-width: $width-xl) {
        flex: 0 0 vw(555px);
        max-width: vw(555px);
        margin-right: vw(129px);
      }
    }

    &__right-wrapper {
      width: 100%;
    }
  }

  .technical-box {
    flex: 0 0 45%;
    margin-bottom: vw(64px);

    &__header {
      color: rgba($darkGray, 0.5);
      border-bottom: 1px solid rgba(#000, 0.1);
      font-weight: normal;
      font-size: 16px;
      line-height: 155.57%;
      padding: 8px 0;

      @media (min-width: $width-xl) {
        font-size: vw(16px);
        padding: vw(8px) 0 ;
      }
    }

    &__content {
      color: $darkGray;
      font-weight: normal;
      line-height: 155.57%;
      font-size: 14px;
      padding: 6px 0 0;
      margin-bottom: 20px;

      @media (min-width: $width-xl) {
        font-size: vw(16px);
        padding: vw(6px) 0 0;
        margin-bottom: vw(32px);
      }
    }
  }
}