@import '../fonts/Roboto/stylesheet.css';
@import '~nouislider/distribute/nouislider.css';
@import '~tiny-slider/dist/tiny-slider.css';
@import '~flatpickr/dist/flatpickr.min.css';
@import '~sumoselect/sumoselect.min.css';
@import '~jquery-colorbox/example1/colorbox.css';
@import 'initial';
@import 'variables';
@import 'mixins';
@import 'grid';
@import 'cmsContent';
@import 'ui';
@import 'libs/accordion';

.recipe-box {
  &__ingredients {
    background: $navy;
    margin-bottom: 30px;
    align-items: flex-start;

    @media (min-width: $width-xl) {
      margin-bottom: vw(32px);
    }

    &__photo-wrapper {
      flex: 0 0 100%;
      overflow: hidden;

      @media (min-width: $width-md) {
        flex: 0 0 50%;
      }

      @media (min-width: $width-xl) {
        flex: 0 0 vw(783px);
        height: vw(547px);
      }
    }


    &__photo {
      display: block;
      max-width: 100%;

   /*   @media (min-width: $width-md) {
        min-height: 100%;
        max-width: initial;
        position: relative;
        min-width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }*/
    }

    &__heading {
      font-weight: 300;
      font-size: 20px;
      margin-bottom: 30px;
      line-height: 135.77%;
      color: #fff;

      @media (min-width: $width-xl) {
        font-size: vw(32px);
        margin-bottom: vw(32px);
      }
    }

    &__list {
      padding: 20px;
      flex-grow: 1;

      @media (min-width: $width-xl) {
        padding: vw(56px) vw(48px);
      }
    }

    &__list-items {
      list-style-type: none;
      padding-left: 0;
    }

    &__list-item {
      margin-bottom: 16px;
      font-size: 16px;
      padding-left: 30px;
      line-height: 155.57%;
      color: #fff;
      position: relative;

      span {
        &:last-of-type {
          display: block;
          margin-bottom: 15px;
          font-size: 11px;

          @media (min-width: $width-lg) {
            display: inline-block;
            margin-bottom: 0;
          }
        }
      }

      @media (min-width: $width-lg) {
        display: flex;
        justify-content: space-between;
      }

      @media (min-width: $width-xl) {
        margin-bottom: vw(24px);
        font-size: vw(16px);
        padding-left: vw(40px);
      }

      &:after {
        content: url('../../images/bullet.svg');
        position: absolute;
        width: 16px;
        top: 50%;
        margin-top: 2px;
        left: 0;
        transform: translateY(-50%);

        @media (min-width: $width-xl) {
          width: vw(24px);
          margin-top: vw(2px);
        }
      }
    }
  }

  &__steps {
    &__step {
      padding: 20px 0;
      border-bottom: 1px solid #e6e6e6;

      @media (min-width: $width-xl) {
        padding: vw(32px) 0;
      }

      &__photo-wrapper {
        flex: 0 0 100%;
        margin-bottom: 20px;

        @media (min-width: $width-sm) {
          flex: 0 0 50%;
          margin-right: 15px;
          margin-bottom: 0;
        }

        @media (min-width: $width-xl) {
          flex: 0 0 vw(388px);
          margin-right: vw(64px);
        }
      }

      &__photo {
        display: block;
        max-width: 100%;
      }

      &__heading {
        font-weight: 300;
        font-size: 18px;
        margin-bottom: 20px;
        line-height: 135.77%;
        color: $darkGray;

        @media (min-width: $width-xl) {
          font-size: vw(32px);
          margin-bottom: vw(24px);
        }
      }
    }
  }
}