@import '../fonts/Roboto/stylesheet.css';
@import '~nouislider/distribute/nouislider.css';
@import '~tiny-slider/dist/tiny-slider.css';
@import '~flatpickr/dist/flatpickr.min.css';
@import '~sumoselect/sumoselect.min.css';
@import '~jquery-colorbox/example1/colorbox.css';
@import 'initial';
@import 'variables';
@import 'mixins';
@import 'grid';
@import 'cmsContent';
@import 'ui';
@import 'libs/accordion';

.serwis-page {
  padding-top: 0;

  .form-section {
    padding: 100px 0 40px 0;
    background-image: url('../../images/serwis-back.jpg');

    @media (min-width: $width-xl) {
      padding: vw(156px) 0 vw(56px) 0;
    }

    &__left {
      flex: 0 0 100%;
      margin-bottom: 30px;

      @media (min-width: $width-md) {
        flex: 0 0 vw(434px);
        margin-right: vw(24px);
        margin-bottom: vw(32px);
      }

      &__before {
        a {
          color: $blue;
        }
        margin-bottom: vw(48px);
      }
    }

    &__contact-info {
      margin-bottom: 30px;

      @media (min-width: $width-xl) {
        margin-bottom: vw(48px);
      }

      &__link {
        font-size: 16px;
        font-weight: 300;
        line-height: 138.83%;
        color: #fff;
        @include trans;
        text-decoration: none;
        display: block;

        @media (min-width: $width-xl) {
          font-size: vw(24px);
        }

        &:hover {
          opacity: 0.6;
        }
      }
    }

    &__right {
      &__heading {
        font-size: 18px;
        margin-bottom: 10px;
        font-weight: 300;
        line-height: 135.77%;
        color: #fff;

        @media (min-width: $width-xl) {
          font-size: vw(32px);
          margin-bottom: vw(10px);
        }
      }
    }

    &__form {

      &__input {
        flex: 0 0 100%;

        @media (min-width: $width-md) {
          flex: 0 0 49%;
        }
      }

      &__checkbox {
        margin-bottom: vw(32px);
        flex: 0 0 100%;
        color: #fff;
      }
    }
  }

  .support-section {
    padding: 30px 0;

    @media (min-width: $width-xl) {
      padding: vw(104px) 0 vw(128px) 0;
    }
  }

  .tabs-section {
    padding: 30px 0;
    background: $navy;

    @media (min-width: $width-xl) {
      padding: vw(128px) 0;
    }
  }
}