@import '../fonts/Roboto/stylesheet.css';
@import 'initial';
@import 'variables';
@import 'mixins';
@import 'grid';
@import 'cmsContent';
@import 'ui';

.first-section {
  position: relative;
  overflow: hidden;

  &__hood {
    position: absolute;
    right:0;
    top: vw(-100px);
    width: 100%;
    opacity: 0.2;

    @media (min-width: $width-md) {
      width: 50%;
      opacity: 1;
    }
  }

  &__head-info {
    padding-top: 0;
    margin-bottom: 354px;
    width: 100%;

    @media (min-width: $width-sm) {
      width: 75%;
      margin-bottom: 240px;
    }

    @media (min-width: $width-md) {
      padding-top: vw(110px);
      margin-bottom: vw(354px);
      width: 50%;
    }

    @media (min-width: $width-xl) {
      padding-top: vw(110px);
      margin-bottom: vw(354px);
      width: vw(585px);
    }
  }
}

.second-section {
  background: linear-gradient(180deg, #00D1F5 0%, rgba(255, 255, 255, 0) 100%), #01ADEF;
  padding: vw(145px) 0;

  &__sign {
    position: absolute;
    left: 0;
    max-width: 100%;
    max-height: 500px;
    top: 0;
    transform: translateY(-70%);

    @media (min-width: $width-sm) {
      transform: translateY(-50%);
    }

    @media (min-width: $width-md) {
      transform: translateY(-35%);
      max-width: 50%;
    }

    @media (min-width: $width-lg) {
      transform: translateY(-45%);
    }

    @media (min-width: $width-xl) {
      transform: none;
      top: auto;
      bottom: vw(-145px);
      max-height: 600px;
    }

    @media (min-width: $width-xxl) {
      max-height: initial;
    }
  }

  &__desc {
    width: 100%;
    padding-top: 100px;

    @media (min-width: $width-sm) {
      max-width: 53%;
      padding-top: 50px;
    }

    @media (min-width: $width-md) {
      max-width: 50%;
      padding-top: 0;
    }

    @media (min-width: $width-xl) {
      width: vw(585px);
    }
  }
}

.third-section {
  padding: vw(226px) 0;
  background-image: url('../../images/tech-third-section.jpg');
  background-size: cover;

  &__content {
    width: 100%;

    @media (min-width: $width-xl) {
      width: vw(555px);
    }
  }

  &__desc {
    width: 100%;

    @media (min-width: $width-md) {
      width: 70%;
    }

    @media (min-width: $width-lg) {
      width: 50%;
    }

    @media (min-width: $width-xl) {
      width: vw(640px);
    }
  }
}
