@import '../fonts/Roboto/stylesheet.css';
@import 'initial';
@import 'variables';
@import 'mixins';
@import 'grid';
@import 'cmsContent';
@import 'ui';
@import 'libs/accordion';

.vilpe-page {
  .banner-section {
    padding: 100px 0 50px;
    background-image: url('../../images/vilpe.jpg');
    background-size: cover;
    background-position: right top;

    @media (min-width: $width-xl) {
      padding: vw(290px) 0 vw(210px) 0;
      background-position: top right;
    }

    &__header {
      margin-bottom: 20px;
      margin-top: 0;

      @media (min-width: $width-xl) {
        margin-bottom: vw(18px);
      }
    }

    &__logo {
      margin-bottom: 20px;
      display: inline-block;

      @media (min-width: $width-xl) {
        margin-bottom: vw(32px);
      }
    }

    &__desc {
      color: #fff;
      font-weight: 300;
      font-size: 18px;
      margin-bottom: 20px;
      max-width: 80%;
      line-height: 138.83%;

      @media (min-width: $width-sm) {
        max-width: 50%;
      }

      @media (min-width: $width-xl) {
        font-size: vw(24px);
        margin-bottom: vw(49px);
        max-width: vw(530px);
      }
    }

    &__btn {
      background: #377EC7;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      padding: 15px 20px;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;

      @media (min-width: $width-xl) {
        font-size: vw(16px);
        line-height: vw(19px);
        padding: vw(24px) vw(32px);
      }

      @include trans;

      &:hover {
        background: $navy;
      }
    }
  }

  .spot-section {
    background: $navy;
    align-items: flex-start;

    @media (min-width: $width-md) {
      align-items: initial;
    }

    &__spot {
      position: relative;
      min-height: 250px;

      @media (min-width: $width-md) {
        min-height: initial;
      }


      &__mask {
        $mask: &;
        @include trans(1s);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url('../../images/spot-mask.jpg');
        background-size: cover;
        cursor: pointer;

        &.inactive {
          opacity: 0;
          visibility: hidden;
        }

        &__btn {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          position: absolute;
          width: vw(133px);
          @include trans;
        }

        &:hover {
          .spot-section__spot__mask__btn {
            transform: translate(-50%, -50%) scale(1.1);
          }
        }
      }
    }

    &__desc {
      padding: 30px;

      @media (min-width: $width-lg) {
        padding: vw(112px) vw(140px);
      }

      &__content {
        max-width: 100%;

        @media (min-width: $width-lg) {
          max-width: vw(470px);
        }

        &__cms {
          margin-bottom: vw(48px);
        }
      }
    }

    &__btn {
      background: $blue;
      border-radius: 3px;
      padding: 12px 20px 12px 40px;
      font-weight: 500;
      font-size:14px;
      line-height: 16px;
      text-transform: uppercase;
      color: #fff;
      position: relative;
      text-decoration: none;
      @include trans;
      display: inline-block;

      @media (min-width: $width-xl) {
        padding: vw(18px) vw(32px) vw(18px) vw(68px);
        font-size: vw(14px);
        line-height: vw(16px);
      }

      &:before {
        content: url('../../images/bag.svg');
        position: absolute;
        top: 50%;
        width: 20px;
        left: 12px;
        margin-top: 2px;
        transform: translateY(-50%);

        @media (min-width: $width-xl) {
          width: vw(24px);
          left: vw(33px);
          margin-top: vw(2px);
        }
      }

      &:hover {
        background: $darkGray;
      }
    }

  }

  .noise-bar {
    background: #202E61;
    padding: 65px 0 30px 0;

    @media (min-width: $width-md) {
      padding: vw(65px) 0;
    }

    &__vilpe-left{
      margin-right: 12px;
      flex: 0 0 70px;
      width: 70px;
      position: absolute;
      bottom: 130%;
      left: 16px;

      @media (min-width: $width-md) {
        position: relative;
        left: initial;
        bottom: initial;
      }

      @media (min-width: $width-xl) {
        margin-right: vw(12px);
        flex: 0 0 vw(116px);
        width: vw(116px);
      }
    }

    &__label-right {
      color: #fff;
      font-weight: normal;
      font-size: 14px;
      line-height: 137%;
      margin-left: 9px;
      position: absolute;
      bottom: 130%;
      right: 14px;

      @media (min-width: $width-md) {
        position: relative;
        right: initial;
        bottom: initial;
      }

      @media (min-width: $width-xl) {
        font-size: vw(20px);
        margin-left: vw(9px);
      }
    }

    &__bar-wrapper {
      position: relative;
      justify-content: center;
    }

    &__bar {
      background: $navy;
      display: inline-block;
      position: relative;
      height: 12px;
      width: 200px;
      border-radius: 7px;
      margin: 0 15px 0 12px;
      flex: 0 0 200px;

      @media (min-width: $width-md) {
        font-size: vw(20px);
        margin-left: vw(9px);
      }

      &:after {
        position: absolute;
        background: $blue;
        top: 50%;
        transform: translateY(-50%);
        left: 1px;
        content: '';
        border-radius: 6px;
        height: 10px;
        width: 30px;

        @media (min-width: $width-md) {
          border-radius: vw(6px);
          height: vw(10px);
          width: vw(30px);
        }
      }
    }

    &__noise {
      text-align: center;
      display: inline-block;
      position: relative;
      top: -12px;

      @media (min-width: $width-md) {
        top: vw(-18px);
      }

      &__value {
        color: #fff;
        font-weight: normal;
        font-size: 12px;
        line-height: 137%;
        margin-bottom: 5px;
        display: inline-block;

        @media (min-width: $width-md) {
          font-size: vw(20px);
          margin-bottom: vw(9px);
        }
      }

      &__value-icon {
        width: 16px;
        display: block;
        margin: 0 auto;

        @media (min-width: $width-md) {
          width: vw(16px);
        }

        &--right {
          width: 34px;
          @media (min-width: $width-md) {
            width: vw(34px);
          }
        }
      }
    }
  }

  .con-section {
    background: $navy;
    padding: 30px 0;

    @media (min-width: $width-xl) {
      padding: vw(119px) 0 vw(87px) 0;
    }

    &__box {
      padding-right: 0;

      @media (min-width: $width-md) {
        padding-right: 30px;
      }

      @media (min-width: $width-xl) {
        padding-right: vw(134px);
      }

      &__img-wrapper {
        height: 50px;
        width: 50px;
        margin-bottom: 20px;

        @media (min-width: $width-xl) {
          height: vw(76px);
          width: vw(76px);
          margin-bottom: vw(32px);
        }
      }

      &__icon {
        max-width: 100%;
      }

      &__icon-title {
        font-weight: 300;
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 135.77%;
        color: #FFFFFF;

        @media (min-width: $width-xl) {
          margin-bottom: vw(32px);
          font-size: vw(32px);
        }
      }
      &__icon-desc {
        font-weight: normal;
        font-size: 14px;
        margin-bottom: 30px;
        line-height: 155.57%;
        color: #FFFFFF;

        @media (min-width: $width-xl) {
          font-size: vw(16px);
          margin-bottom: vw(32px);
        }
      }
    }
  }

  .advantages {
    background: $navy;

    &__list {
      max-width: 100%;
      padding-top: 30px;
      margin-bottom: 30px;

      @media (min-width: $width-md) {
        padding-top: vw(40px);
        margin-bottom: 0;
        padding-right: 30px;
      }

      @media (min-width: $width-xl) {
        max-width: vw(611px);
        padding-top: vw(40px);
      }
    }

    &__cover {
      display: none;
      width: vw(760px);

      @media (min-width: $width-md) {
        display: block;
      }
    }
  }

  .silent-kitchen {
    background: $navy;
    padding: 30px 0;

    @media (min-width: $width-xl) {
      padding: vw(119px) 0;
    }

    &__header {
      margin-top: 0;
    }

    &__box {
      margin-bottom: 50px;

      @media (min-width: $width-xl) {
        margin-bottom: vw(24px);
      }

      &__image-wrapper {
        height: 180px;

        @media (min-width: $width-xl) {
          height: vw(368px);
        }
      }

      &__content {
        padding-right: vw(132px);

        @media (min-width: $width-md) {
          padding-right: 30px;
        }

        @media (min-width: $width-xl) {
          padding-right: vw(132px);
        }
      }

      &__image {
        display: block;
        margin: 0 auto;
        max-height: 100%;
      }

      &__title {
        font-weight: 300;
        font-size: 20px;
        margin-bottom: 20px;
        line-height: 135.77%;
        color: #FFFFFF;

        @media (min-width: $width-xl) {
          font-size: vw(32px);
          margin-bottom: vw(24px);
        }
      }

      &__desc {
        font-weight: normal;
        font-size: 14px;
        line-height: 155.57%;
        color: #FFFFFF;

        @media (min-width: $width-xl) {
          font-size: vw(16px);
        }
      }
    }
  }

  .categories {
    padding-top: 30px;

    @media (min-width: $width-xl) {
      padding-top: vw(121px);
    }

    &__category-box {
      margin-bottom: 50px;
      display: block;
      text-decoration: none;
      @include trans;

      @media (min-width: $width-xl) {
        margin-bottom: vw(105px);
      }

      &:hover {
        opacity: 0.8;
      }

      &__image-wrapper {
        margin-bottom: 50px;
        height: 90px;

        @media (min-width: $width-xl) {
          margin-bottom: vw(48px);
          height: vw(248px);
        }

        &__image {
          display: block;
          margin: 0 auto;
          max-height: 100%;
        }
      }
      &__title {
        text-align: center;
        color: $navy;
        font-weight: 300;
        font-size: 18px;
        line-height: 135.77%;
        text-decoration: none;

        @media (min-width: $width-xl) {
          font-size: vw(32px);
        }
      }
    }
  }

  .faq-section {
    background: $navy;
    padding: 30px 0;

    @media (min-width: $width-xl) {
      padding: vw(54px) 0;
    }

  }

  .contact-section {
    padding: 30px 0;

    @media (min-width: $width-xl) {
      padding: vw(78px) 0;
    }

    &__blue-box {
      padding: 20px;
      border-radius: 6px;
      background: $blueBox;
      flex-direction: column;
      margin-bottom: 30px;

      @media (min-width: $width-md) {
        margin-bottom: 0;
      }

      @media (min-width: $width-xl) {
        padding: vw(48px);
      }

      &__header {
        font-weight: 300;
        font-size: 20px;
        margin-bottom: 10px;
        line-height: 135.77%;
        color: #FFFFFF;

        @media (min-width: $width-xl) {
          font-size: vw(32px);
          margin-bottom: vw(8px);
        }
      }

      &__info {
        position: relative;
        padding-left: 30px;
        font-size: 14px;
        font-weight: normal;
        line-height: 155.57%;
        color: #FFFFFF;
        margin-bottom: 15px;

        @media (min-width: $width-xl) {
          padding-left: vw(30px);
          font-size: vw(16px);
          margin-bottom: vw(32px);
        }

        &:before {
          content: url('../../images/blue-info.svg');
          position: absolute;
          width: 18px;
          top: 50%;
          left: 0;
          transform: translateY(-50%);

          @media (min-width: $width-xl) {
            width: vw(21px);
          }
        }
      }

      &__link {
        text-decoration: none;
        @include trans;
        font-weight: 300;
        line-height: 138.83%;
        color: #EEEEEE;
        display: inline-block;
        font-size: 14px;
        padding-left: 30px;
        margin-bottom: 10px;
        position: relative;

        @media (min-width: $width-xl) {
          font-size: vw(24px);
          padding-left: vw(30px);
          margin-bottom: vw(8px);
        }

        &:hover {
          opacity: 0.6;
        }

        &:before {
          position: absolute;
          width: 21px;
          top: 50%;
          left: 0;
          transform: translateY(-50%);

          @media (min-width: $width-xl) {
            width: vw(21px);
          }
        }

        &--phone {
          &:before {
            content: url('../../images/blue-phone.svg');
            width: 20px;

            @media (min-width: $width-xl) {
              width: vw(20px);
            }
          }
        }
        &--mail {
          &:before {
            content: url('../../images/blue-mail.svg');
            width: 20px;

            @media (min-width: $width-xl) {
              width: vw(20px);
            }
          }
        }
      }
    }

    &__left {
      flex: 0 0 100%;

      @media (min-width: $width-md) {
        flex: 0 0 48%;
        margin-right: 15px;
      }

      @media (min-width: $width-xl) {
        flex: 0 0 vw(673px);
        margin-right: vw(42px);
      }
    }

    &__right {
      width: 100%;
    }

    &__form-wrapper {
      border-radius: 6px;
      border: 2px solid $blue;
      padding: 30px;

      @media (min-width: $width-xl) {
        font-size: vw(24px);
        padding: vw(65px) vw(47px);
      }
    }
  }
}