.accordion {
  &__wrapper {
    border-bottom: 1px solid #3c4a7b;
  }
}

.js-Accordion {
  margin: 0 auto;
  max-width: 30em;
  width: 80%;
}
.js-Accordion-title {
  background: transparent;
  border-top: 0;
  cursor: pointer;
  text-align: left;
  display: block;
  border: none;
  color: #fff;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  line-height: 137%;
  font-size: 16px;
  padding: 16px 0;
  position: relative;

  @media (min-width: $width-xl) {
    font-size: vw(20px);
    padding: vw(32px) 0;
  }

  &:after {
    position: absolute;
    content: url('../../../images/accordion-down.svg');
    right: 14px;
    top: 50%;
    transform: translateY(-50%);

    @media (min-width: $width-xl) {
      right: vw(14px);
    }
  }

  &.active {
    &:after {
      content: url('../../../images/accordion-up.svg');
    }
  }

  &:focus {
    border: none;
    outline: 0;
  }
}

.js-Accordion-content {
  font-size: 14px;
  line-height: 155.57%;
  font-family: 'Roboto', sans-serif;
  color: #939ab6;
  border-top: 0;
  height: 0;
  overflow: hidden;
  transition: all .25s linear;

  @media (min-width: $width-xl) {
    font-size: vw(16px);
  }

  &.active {
    margin-bottom: 16px;

    @media (min-width: $width-xl) {
      margin-bottom: vw(32px);
    }
  }
}